{% extends 'admin/layout.html.twig' %}

{% block title %}Listado Histórico{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-4 text-gray-800">Listado histórico</h1>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table-striped table-sm table-hover dataTable" id="dataTable" width="100%" cellpadding="0">
                <thead>
                <tr class="text-center">
                    <th>Fecha</th>
                    <th>Asesor</th>
                    <th>Motivo</th>
                    <th>Dirección</th>
                    <th>Propietario</th>
                    <th>Móvil &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; Teléfono</th>
                    <th>Precio</th>
                    <th>V</th>
                    <th>D</th>
                    <th>B</th>
                    <th>M²</th>
                    <th>Fotos</th>
                    <th>Últ Llamada</th>
                    <th>Comentario</th>
                </tr>
                </thead>
                <tbody>
                {% for property in properties %}
                    <tr class="clickable-row" data-href="{{ path('property_show', {'id': property.id}) }}">
                        <td>{{ property.created|date('d/m/Y') }}</td>
                        <td>
                            {{ property.commercial.fullName }}
                        </td>
                        <td>
                            {% if property.reason is not empty %}
                                {{ property.reason.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if property.street is not empty %}
                                {{ property.street.name }}
                            {% endif %}
                            Nº {{ property.portal }},
                            {{ property.floor }}
                        </td>
                        <td>{{ property.fullName }}</td>
                        <td>
                            {% if property.mobile is not empty or property.phone is not empty %}
                                {{ property.mobile }} - {{ property.phone }}
                            {% endif %}
                        </td>
                        <td>
                            {% if property.price is not empty %}
                                {{ property.price|number_format(0, ',', '.') }} €
                            {% endif %}
                        </td>
                        <td>
                            {{ property.rateHousing ? 'Si' : 'No' }}
                        </td>
                        <td>
                            {% if property.rateHousing %}
                                {{ property.rateHousing.bedrooms }}
                            {% endif %}
                        </td>
                        <td>
                            {% if property.rateHousing %}
                                {{ property.rateHousing.bathrooms }}
                            {% endif %}
                        </td>
                        <td>
                            {% if property.rateHousing %}
                                {{ property.rateHousing.realMeters }}
                            {% endif %}
                        </td>
                        <td>
                            {% if property.rateHousing %}
                                {% if property.rateHousing.image.count > 0 %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{ property.nextCall|date('d-m-Y') }}
                        </td>
                        <td data-toggle="tooltip" data-placement="top" title="{{ property.comment }}">
                            {{ property.comment|slice(0, 50) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTableJs') }}
{% endblock %}