{% extends 'admin/layout.html.twig' %}

{% block title %}Lista de usuarios{% endblock %}

{#{% block stylesheets %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_script_tags('dataTableCss') }}#}
{#{% endblock %}#}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {#        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            <h1 class="h3 mb-4 text-gray-800 float-left">Lista de usuarios</h1>
            <a class="btn btn-success float-right" href="{{ path('user_new') }}">Crear Usuario</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped dataTable" id="dataTable" width="100%" cellpadding="0">
                    <thead>
                    <tr>
    {#                    <th>Id</th>#}
                        <th>Foto</th>
                        <th>Apellido y Apellido</th>
                        <th>Móvil</th>
                        <th>Empresa</th>
                        <th>Estado</th>
                        <th>Roles</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
    {#                            <img class="img-profile rounded-circle" width="50px" height="50px" src="{{ asset('images/users/' ~ user.image) }}" alt="{{ user.image }}">#}
    {#                                <img class="img-thumbnail" src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.firstName }}" width="100px" />#}

                                {% if user.imageFilename %}
                                    <img src="{{ uploaded_asset(user.imagePath)|imagine_filter('squared_thumbnail_small') }}" alt="{{ user.fullName }}">
                                {% else %}
                                    Sin Foto
                                {% endif %}
                            </td>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.mobile }}</td>
                            <td>
                                {% if user.agency %}
{#                                    <a href="{{ path('company_edit', {'id': user.company.id}) }}">#}
                                        {{ user.agency.name }}
{#                                    </a>#}
                                    {% else %}
                                    Sin Agencia
                                {% endif %}
                            </td>
                            <td>
                                {% if user.active %}
                                    Activado
                                {% else %}
                                    Desactivado
                                {% endif %}
                            </td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>
                                {{ include('admin/_show_link.html.twig', {'route': 'user_show', 'id': user.id }) }}
                                {#<a class="btn btn-primary btn-circle" href="{{ path('news_show', {'id': new.id}) }}"><i class="fas fa-eye"></i></a>#}
                            </td>
                            <td>
                                {{ include('admin/_edit_link.html.twig', {'route': 'user_edit', 'id': user.id }) }}
                            </td>
                            <td>
    {#                            {{ include('admin/_delete_form.html.twig', {'route': 'user_delete', 'entity': user, 'count': user.news.count}) }}#}
                                {{ include('admin/_delete_form.html.twig', {'route': 'user_delete', 'entity': user, 'count': 0}) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No se encontrarón usuarios</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTableJs') }}
{% endblock %}