{% extends 'admin/layout.html.twig' %}

{% block title %} Nuevo Usuario {% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Crear nuevo usuario</h1>
            {#        <a class="btn btn-link float-right" href="{{ path('company_index') }}">Volver a la lista</a>#}
        </div>
        <div class="card-body">
    {#        <form method="post" action="{{ path('upload_test') }}" enctype="multipart/form-data">
                <label for="image"> Image </label>
                <input id="image" type="file" name="image">
                <button type="submit" class="btn btn-success">Subir</button>
            </form>#}
            {{ include('admin/user/_form_user.html.twig') }}
        </div>
        <div class="card-footer">
            {{ include('admin/_back_link.html.twig', {'route': 'user_index'}) }}
        </div>
    </div>

{% endblock %}

{#
{#{% block stylesheets %}#}
{#    {{ parent() }}#}
{#    <script>#}
{#        $('.custom-file-input').on('change', function (event) {#}
{#            var inputFile = event.currentTarget;#}
{#            $(inputFile).parent()#}
{#                .find('.custom-file-label')#}
{#                .html(inputFile.files[0].name);#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
