{% extends 'admin/layout.html.twig' %}

{% block title %}Detalle Noticia a Desarrollar{% endblock %}

{% block content %}
    <div class="row">
        <!-- Content Column -->
        <div class="col-md-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary float-left">Detalle Noticia a Desarrollar</h6>
                    {#<h6 class="m-0 font-weight-bold text-primary float-right">
                        <a class="btn btn-success" href="">Crear Noticia</a>
                    </h6>#}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <th class="text-right">Fecha</th>
                                <td>{{ property.created|date('d/m/Y') }}</td>
                                <th class="text-right">Agente</th>
                                <td>{{ property.commercial.fullName }}</td>
                                <th class="text-right">Motivo</th>
                                <td>{{ property.reason.name }}</td>
                                <th class="text-right">Tipo de propiedad</th>
                                <td>
                                    {% if property.typeProperty is not empty %}
                                        {{ property.typeProperty.name }}
                                    {% endif %}
                                </td>

                            </tr>
                            <tr>
                                <th class="text-right">Zona</th>
                                <td>{{ property.street.zone.name }}</td>
                                <th class="text-right">Calle</th>
                                <td>{{ property.street.name }}, Nº {{ property.portal }}, {{ property.floor }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">Propietario</th>
                                <td>{{ property.fullName }}</td>
                                <th class="text-right">Móvil</th>
                                <td>{{ property.mobile }}</td>
                                <th class="text-right">Teléfono</th>
                                <td>{{ property.phone }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">URL</th>
                                <td colspan="7">
                                    <a target="_blank" href="{{ property.url }}">{{ property.url }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-right">Comentario</th>
                                <td colspan="7">{{ property.comment }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="card-footer">
                    {{ include('admin/_back_link.html.twig', {'route': 'property_to_developer_index'}) }}
                    {{ include('admin/_edit_link.html.twig', {'route': 'property_to_developer_edit', 'id': property.id, 'button_label': 'Editar'}) }}

                    <div class="float-right">
                        {{ include('admin/_delete_form.html.twig', {'route': 'property_to_developer_delete', 'entity': property, 'count': 0}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Notas </h6>
{#                    <h6 class="m-0 font-weight-bold text-primary float-right">Proxima Llamada: </h6>#}
                </div>
                <div class="card-body">
                    <div class="m-2">
                        {{ include('admin/_form.html.twig') }}
                    </div>
                </div>
{#                <div class="card-footer">#}
{#                    {{ include('admin/_back_link.html.twig', {'route': 'property_to_developer_index'}) }}#}
{#                </div>#}
            </div>
        </div>
        <div class="col-md-8">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 400px;">
                {% for noteProperty in property.noteNew|reverse %}
                    <div class="col-md-12 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-sm-left font-weight-bold text-primary text-uppercase mb-1"><strong>{{ noteProperty.noticeDate|date('d-m-Y') }} </strong></div>
                                        <div class="h5 mb-0 text-gray-800" data-toggle="tooltip" data-placement="top" title="{{ noteProperty.note }}">
                                            {{ noteProperty.note }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-sticky-note fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{#    <a href="{{ path('property_index') }}">back to list</a>#}

{#    <a href="{{ path('property_edit', {'id': property.id}) }}">edit</a>#}

{#    {{ include('admin/property/_delete_form.html.twig') }}#}
{% endblock %}
