{% extends 'admin/layout.html.twig' %}

{% block title %}Reportes{% endblock %}

{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Listado de reportes</h1>
        </div>
        <div class="card-body">
            <h1>Reportes</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success" type="submit">Consultar</button>
            {{ form_end(form) }}

            <hr>

            <ul class="list-group">
                <li class="list-group-item">{{ noticies|length }} Noticias</li>
                <li class="list-group-item">{{ noticiesToDeveloper|length }} Noticias a desarrollar</li>
                <li class="list-group-item">{{ valorations|length }} Valoraciones</li>
                <li class="list-group-item">{{ chargesRent|length }} Encargos Alquiler</li>
                <li class="list-group-item">{{ chargesSell|length }} Encargos Venta</li>
                <li class="list-group-item">{{ visitsRent|length }} Visitas Alquiler</li>
                <li class="list-group-item">{{ visitsSell|length }} Visitas Venta</li>
                <li class="list-group-item">{{ proposalRent|length }} Propuesta Alquiler</li>
                <li class="list-group-item">{{ proposalSell|length }} Propuesta Venta</li>
            </ul>
        </div>

    </div>

{% endblock %}