{% extends 'admin/layout.html.twig' %}

{% block title %}Zone index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTable') }}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-4 text-gray-800 float-left">Lista de zonas </h1>
        <a class="btn btn-success float-right" href="{{ path('zone_new') }}">Crear Zona</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellpadding="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Nº Noticias</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                {% for zone in zones %}
                    <tr>
                        <td>{{ zone.name }}</td>
                        <td>{{ zone.news.count }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('zone_show', {'id': zone.id}) }}">Ver</a>
                        </td>
                        <td>
                            <a class="btn btn-info" href="{{ path('zone_edit', {'id': zone.id}) }}">Editar</a>
                        </td>
                        <td>
                            {{ include('admin/_delete_form.html.twig', {'route': 'zone_delete', 'entity': zone, 'count': zone.news.count}) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
