{% extends 'base.html.twig' %}

{% block title %}NoteCommercial index{% endblock %}

{% block body %}
    <h1>NoteCommercial index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Note</th>
                <th>Notice_data</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note_commercial in note_commercials %}
            <tr>
                <td>{{ note_commercial.id }}</td>
                <td>{{ note_commercial.note }}</td>
                <td>{{ note_commercial.noticeData ? note_commercial.noticeData|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('note_commercial_show', {'id': note_commercial.id}) }}">show</a>
                    <a href="{{ path('note_commercial_edit', {'id': note_commercial.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('note_commercial_new') }}">Create new</a>
{% endblock %}
