{% extends 'admin/layout.html.twig' %}

{% block title %}Nota comercial{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {#        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            <h1 class="h3 mb-4 text-gray-800 float-left">Ver Nota</h1>
{#            <a class="btn btn-success float-right" href="{{ path('note_commercial_new') }}">Crear Nota</a>#}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Nota</th>
                            <td>{{ note_commercial.note }}</td>
                        </tr>
                        <tr>
                            <th>Nota Fecha</th>
                            <td>{{ note_commercial.noticeDate ? note_commercial.noticeDate|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Comercial</th>
                            <td>
                                <a href="{{ path('user_show', {'id': note_commercial.commercial.id}) }}">
                                    {{ note_commercial.commercial.firstName }} {{ note_commercial.commercial.lastName }}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            {{ include('admin/_back_link.html.twig', {'route': 'note_commercial_index'}) }}
            {{ include('admin/_edit_link.html.twig', {'route': 'note_commercial_edit', 'id': note_commercial.id, 'button_label': 'Editar'}) }}
        </div>
    </div>

{#    <a href="{{ path('note_commercial_edit', {'id': note_commercial.id}) }}">edit</a>#}

{#    {{ include('note_commercial/_delete_form.html.twig') }}#}
{% endblock %}
