{% extends 'admin/layout.html.twig' %}

{#{% form_theme form "form_div_layout.html.twig" %}#}

{% block title %}Booking index{% endblock %}

{% block content %}



    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-body">
{#                                        {% include '@Calendar/calendar.html' %}#}
                    <div class="table-responsive">
                        <div id="calendar-holder" data-events-url="{{ path('fc_load_events') }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleEvent"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="descriptionEvent"></p>
                </div>
                <div class="modal-footer">
                    <p class="text-left" id="locationEvent"></p>

                    {#<button type="button" class="btn btn-success">Agregar</button>
                    <button type="button" class="btn btn-success">Modificar</button>#}
                    <a id="btn-delete-edit" class="btn btn-info">Editar</a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <button type="button" id="btn-delete-booking" class="btn btn-danger">Borrar</button>
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleEventAdd"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
{#                    {{ include('admin/_form.html.twig') }}#}

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button id="btn-save" class="btn btn-success">{{ button_label|default('Guardar') }}</button>
                    {{ form_end(form) }}

                    {#{{ form_start(form) }}
                    {{ form_row(form.beginAt) }}
                    {{ form_row(form.endAt) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.commercial) }}
                    {{ form_end(form) }}#}
                </div>
                <div class="modal-footer">
{#                    <button type="button" class="btn btn-success">Agregar</button>#}
{#                    <button type="button" class="btn btn-success">Modificar</button>#}
{#                    <button type="button" class="btn btn-danger">Borrar</button>#}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
    <style>
        #calendar-holder {
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            bottom: 0;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar') }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock %}