{% extends 'admin/layout.html.twig' %}

{% block title %}Ver {{ company.name }}{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Detalles de empresa</h1>
{#            <a class="btn btn-success float-right" href="{{ path('company_new') }}">Crear Empresa</a>#}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dateTable" width="100%" cellpadding="0">
                    <tr>
                        <th>Nombre compañía</th>
                        <td>{{ company.name }}</td>
                    </tr>
                    <tr>
                        <th>Nº Trabajadores</th>
                        <td>

                            {% if company.users.count > 0 %}
                                <ul>
                                    {% for user in company.users %}
                                        <li>
                                            <a href="{{ path('user_show', {'id': user.id}) }}">
                                                {{ user.firstName }} {{ user.lastName }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                    Empresa sin trabajadores
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-link" href="{{ path('company_index') }}">Volver a la lista</a>
        </div>
    </div>
{% endblock %}