{% extends 'base.html.twig' %}

{% block title %}Visit index{% endblock %}

{% block body %}
    <h1>Visit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Visited</th>
                <th>Price</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                <td>{{ visit.id }}</td>
                <td>{{ visit.visited ? visit.visited|date('Y-m-d') : '' }}</td>
                <td>{{ visit.price }}</td>
                <td>{{ visit.comment }}</td>
                <td>
                    <a href="{{ path('visit_show', {'id': visit.id}) }}">show</a>
                    <a href="{{ path('visit_edit', {'id': visit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('visit_new') }}">Create new</a>
{% endblock %}
