{% extends 'base.html.twig' %}

{% block title %}Visit{% endblock %}

{% block body %}
    <h1>Visit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visit.id }}</td>
            </tr>
            <tr>
                <th>Visited</th>
                <td>{{ visit.visited ? visit.visited|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ visit.price }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ visit.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('visit_index') }}">back to list</a>

    <a href="{{ path('visit_edit', {'id': visit.id}) }}">edit</a>

    {{ include('visit/_delete_form.html.twig') }}
{% endblock %}
