{% extends 'admin/layout.html.twig' %}

{% block title %}Reason index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTable') }}
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {#        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            <h1 class="h3 mb-4 text-gray-800 float-left">Lista de motivos</h1>
            <a class="btn btn-success float-right" href="{{ path('reason_new') }}">Crear Motivo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellpadding="0">
                    <thead>
                    <tr>
                        <th>Nombre Acción</th>
                        <th>Nº Noticias</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reason in reasons %}
                        <tr>
                            <td>{{ reason.name }}</td>
                            <td>{{ reason.news|length }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('reason_show', {'id': reason.id}) }}">Ver</a>
                            </td>
                            <td>
                                <a class="btn btn-info" href="{{ path('reason_edit', {'id': reason.id}) }}">Editar</a>
                            </td>
                            <td>
                                {{ include('admin/_delete_form.html.twig', {'route': 'reason_delete', 'entity': reason, 'count': reason.news|length}) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
