{#{{ form_start(form, {'action': path('property_new'), 'method': 'POST'}) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}

    {{ form_start(form) }}
    {{ form_row(form.situation) }}
    {{ form_row(form.reason) }}
    {{ form_row(form.created) }}
    {{ form_row(form.commercial) }}
    {{ form_row(form.zone) }}
    {{ form_row(form.street) }}
    {{ form_row(form.fullName) }}
{#    {{ form_row(form.typeProperty) }}#}
    {{ form_row(form.portal) }}
    {{ form_row(form.floor) }}
    {{ form_row(form.price) }}
    {{ form_row(form.mobile) }}
    {{ form_row(form.email) }}
    {{ form_row(form.url) }}
    {{ form_row(form.comment) }}
    {{ form_label(form.propertyReductions) }}
    <div id="collectionInput" data-prototype="{{ form_widget(form.propertyReductions.vars.prototype)|e('html_attr') }}">
        {% for row in form.propertyReductions %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <strong>{{ row.vars.value.price }}</strong>
                </div>
                <div class="panel-body">
                    {{ form_row(row.price) }}
                    {{ form_row(row.reductionDate) }}
                    {{ form_row(row.reductionNextDate) }}
                </div>
            </div>
        {% endfor %}
    </div>

    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
    {{ form_end(form) }}
