{#{{ dump(form) }}#}

{{ form_start(form) }}
    <div class="row bg-light p-3 m-3">
        <div class="col-md-12 text-center">
            <strong>INFORME</strong>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-auto">
            {{ form_row(form.visited) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.min_price) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.typeLocal) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.stays) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.localGarageLocation) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-auto">
            {{ form_row(form.bathrooms) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.plants) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.shopWindows) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form_row(form.comment) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-auto">
            {{ form_row(form.heating) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.orientation) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.real_meters) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.height) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-auto">
            {{ form_row(form.energyCertificate) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.energyConsumption) }}
        </div>
    </div>
    <div class="row bg-light p-3 m-3">
        <div class="col-md-12 text-center">
            <strong>EXTRAS</strong>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-auto">
            {{ form_row(form.airConditioning) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.smokeOutlet) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.securityDoor) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.alarmSystem) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.equippedKitchen) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.corner) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.closedSecurityCircuit) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.warehouse) }}
        </div>
    </div>
    <div class="row bg-light p-3 m-3">
        <div class="col-md-12 text-center">
            <strong>EDIFICIO</strong>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-auto">
            {{ form_row(form.antiquity) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.communityExpenses) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.amountPendingSpills) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form_row(form.pendingSpills) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form_row(form.spillsFuture) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-auto">
            {{ form_row(form.administrator) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.mobileAdministrator) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-auto">
            {{ form_row(form.image) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-auto">
            {% for image in form.vars.data.image %}
                <img src="{{ uploaded_asset(image.imagePath)|imagine_filter('squared_thumbnail_small') }}">
            {% endfor %}
        </div>
    </div>
    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
