{{ form_start(form, {'action': path('property_new'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{#    {{ form_start(form) }}#}
{#    {{ form_row(form.commercial) }}#}
{#    {{ form_row(form.enabled) }}#}
{#    {{ form_row(form.price) }}#}
{#    {{ form_label(form.propertyReductions) }}#}
{#    <div id="collectionInput" data-prototype="{{ form_widget(form.propertyReductions.vars.prototype)|e('html_attr') }}">#}
{#        {% for row in form.propertyReductions %}#}
{#            <div class="panel panel-warning">#}
{#                <div class="panel-heading">#}
{#                    <strong>{{ row.vars.value.price }}</strong>#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                    {{ form_row(row.price) }}#}
{#                    {{ form_row(row.reductionDate) }}#}
{#                    {{ form_row(row.reductionNextDate) }}#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    {{ form_row(form.full_name) }}#}
{#    {{ form_row(form.mobile) }}#}
{#    {{ form_row(form.email) }}#}
{#    {{ form_row(form.typeProperty) }}#}
{#    {{ form_row(form.stateProperty) }}#}
{#    {{ form_row(form.visits) }}#}
{#    {{ form_row(form.zone) }}#}
{#    {{ form_row(form.street) }}#}
{#    {{ form_row(form.situation) }}#}
{#    {{ form_row(form.reason) }}#}
{#    <button class="btn btn-success">{{ button_label|default('Save') }}</button>#}
{#    {{ form_end(form) }}#}
