{% extends 'admin/layout.html.twig' %}

{% block title %}Editar Noticia{% endblock %}

{% block content %}
    <div class="card shadow">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Editar Noticia</h1>
        </div>
        <div class="card-body">
            {#            {{ include('admin/_form.html.twig', {'button_label': 'Actualizar'}) }}#}
            {{ form_start(form) }}
            <div class="form-group row">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-md-auto">{{ form_row(form.commercial) }}</div>
                {% endif %}
{#                <div class="col-md-auto">{{ form_row(form.reference) }}</div>#}
                <div class="col-md-auto">{{ form_row(form.created) }}</div>
                <div class="col-md-auto">{{ form_row(form.situation) }}</div>
                <div class="col-md-auto">{{ form_row(form.reason) }}</div>
                <div class="col-md-auto">{{ form_row(form.typeProperty) }}</div>
{#                <div class="col-md-auto">{{ form_row(form.historical) }}</div>#}
            </div>
            <div class="form-group row">
                <div class="col-md-auto">{{ form_row(form.zone) }}</div>
                <div class="col-md-auto">{{ form_row(form.street) }}</div>
                <div class="col-md-auto">{{ form_row(form.portal) }}</div>
                <div class="col-md-auto">{{ form_row(form.floor) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-auto">{{ form_row(form.price) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-auto">{{ form_row(form.fullName) }}</div>
                <div class="col-md-auto">{{ form_row(form.mobile) }}</div>
                <div class="col-md-auto">{{ form_row(form.phone) }}</div>
                {#                <div class="col-md-auto">{{ form_row(form.email) }}</div>#}
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    {{ form_row(form.url) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    {{ form_row(form.comment) }}
                </div>
            </div>
{#            {{ form_label(form.propertyReductions) }}#}
{#            <div id="collectionInput" data-prototype="{{ form_widget(form.propertyReductions.vars.prototype)|e('html_attr') }}">#}
{#                {% for row in form.propertyReductions %}#}
{#                    <div class="panel panel-warning">#}
{#                        <div class="panel-heading">#}
{#                            <strong>{{ row.vars.value.price }}</strong>#}
{#                        </div>#}
{#                        <div class="panel-body">#}
{#                            {{ form_row(row.price) }}#}
{#                            {{ form_row(row.reductionDate) }}#}
{#                            {{ form_row(row.reductionNextDate) }}#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
            <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
{#            {{ include('admin/_back_link.html.twig', {'route': 'property_index'}) }}#}
            <a class="btn btn-info" href="{{ path('property_show', {'id': property.id }) }}">Ver noticia</a>
            <a class="btn btn-info" href="{{ path('property_rate_housing_new_show', {'id': property.id }) }}">Valoración</a>
{#            {% if property.rateHousing %}#}
{#                <a class="btn btn-info" href="{{ path('property_rate_housing_new_show', {'id': property.id }) }}">Valoración</a>#}
{#            {% endif %}#}
        </div>
    </div>

{#    {{ include('admin/property/_form.html.twig', {'button_label': 'Actualizar'}) }}#}


{% endblock %}
