{% extends 'admin/layout.html.twig' %}

{% block title %} Listado Noticias {% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Listado de noticias</h1>
            <a class="btn btn-success float-right" href="#" data-toggle="modal" data-target="#createNewModal">
                Crear Noticia
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table-striped table-sm table-hover dataTable" id="dataTable" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                        <th>Fecha</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Agente</th>
                            {% endif %}
                        <th>Motivo</th>
                        <th>Zona</th>
                        <th>Dirección</th>
                        <th>Propietario</th>
                        <th>Móvil</th>
                        {#                        <th>Zona</th>#}
                        {#                        <th>Situación</th>#}
                        <th>Precio</th>
                        <th>Encargo</th>

                            {#                        <th>V</th>#}
                        <th>D</th>
                        <th>B</th>
                        <th>M²</th>
                        <th>F</th>
                        <th>Últ Llamada</th>
                        <th>Comentario</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in properties %}
                        {% if property.enabled %}
{#                            {% if property.charge is null %}#}

                                {#                                    {% if property.rateHousing.charge is not defined %}#}

                                <tr class="clickable-row" data-href="{{ path('property_show', {'id': property.id}) }}">
                                    {#                                <td>{{ property.id }}</td>#}
                                    <td>{{ property.created|date('d/m/Y') }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        {{ property.commercial.fullName }}
                                    </td>
                                        {% endif %}
                                    <td>
                                        {% if property.reason is not empty %}
                                            {{ property.reason.name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if property.street is not empty %}
                                            {% if property.street.zone is not empty %}
                                                {{ property.street.zone.name }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if property.street is not empty %}
                                            {{ property.street.name }}
                                        {% endif %}
                                        Nº {{ property.portal }},
                                        {{ property.floor }}
                                    </td>
                                    <td>{{ property.fullName }}</td>
                                    <td>
                                        {% if property.mobile is not empty %}
                                            {{ property.mobile }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if property.price is not empty %}
                                            {{ property.price|number_format(0, ',', '.') }} €
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if property.charge is not empty %}
                                            {% if property.charge.chargeType is not empty %}
                                                {{ property.charge.chargeType.name }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
{#                                    <td>#}
{#                                        {{ property.rateHousing ? 'Si' : 'No' }}#}
{#                                    </td>#}
                                    <td>
                                        {% if property.rateHousing %}
                                            {{ property.rateHousing.bedrooms }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if property.rateHousing %}
                                            {{ property.rateHousing.bathrooms }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if property.rateHousing %}
                                            {{ property.rateHousing.realMeters }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if property.rateHousing %}
                                            {% if property.rateHousing.image.count > 0 %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if property.noteNew is not empty %}
                                            {{ property.noteNew.last.noticeDate|date('d-m-Y') }}
                                        {% endif %}
                                    </td>
                                    <td data-toggle="tooltip" data-placement="top" title="{{ property.comment }}">
                                        {{ property.comment|slice(0, 25) }}
                                    </td>
                                </tr>
{#                            {% endif %}#}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createNewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Nueva Noticia</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ render_esi(controller('App\\Controller\\PropertyController::property')) }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTableJs') }}
{% endblock %}