{% extends 'admin/layout.html.twig' %}

{% block title %}Valoración{% endblock %}

{% block content %}

    {{ include('admin/property/type_property/_tab.html.twig') }}

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Valoración</h6>
                </div>
                <div class="card-body">
                    {% if property.rateHousing %}

                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th>Situacion</th>
                                    <td>{{ property.reason.situation.name }}</td>
                                    <th>Motivo</th>
                                    <td>{{ property.reason.name }}</td>
                                    <th>Asesor</th>
                                    <td>{{ property.commercial.fullName }}</td>
                                    <th>Zona</th>
                                    <td>{{ property.street.zone.name }}</td>
{#                                    <th>Creado</th>#}
{#                                    <td>{{ property.created|date('d/m/Y') }}</td>#}
{#                                    <th>Precio</th>#}
{#                                    <td>{{ property.price }}</td>#}
                                </tr>
                                <tr>
                                    <th>Propietario</th>
                                    <td>{{ property.fullName }}</td>
{#                                    <th>Tipo de propiedad</th>#}
{#                                    <td>#}
{#                                        {% if property.typeProperty is not empty %}#}
{#                                            {{ property.typeProperty.name }}#}
{#                                        {% endif %}#}
{#                                    </td>#}
                                    <th>Móvil</th>
                                    <td>{{ property.mobile }}</td>
                                    <th>Correo</th>
                                    <td>{{ property.email }}</td>
                                    <th>Calle</th>
                                    <td>{{ property.street.name }}, Nº {{ property.portal }}, {{ property.floor }}</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Comentario Valoración</th>
                                    <td colspan="6">{{ property.rateHousing.comment }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center bg-light" colspan="8">INFORME</th>
                                </tr>
                                <tr>
                                    <th>Fecha Valoración</th>
                                    <td>{{ property.rateHousing.visited|date('d/m/Y') }}</td>
                                    <th>Precio Mínimo</th>
                                    <td>{{ property.rateHousing.minPrice }}</td>
                                    <th>Precio Máximo</th>
                                    <td>{{ property.rateHousing.maxPrice }}</td>
                                    <th>Dormitorios</th>
                                    <td>{{ property.rateHousing.bedrooms }}</td>
                                </tr>
                                <tr>
                                    <th>Baños</th>
                                    <td>{{ property.rateHousing.bathrooms }}</td>
                                    <th>Estado Baño</th>
                                    <td>
                                        {% if property.rateHousing.bathroomState is not empty %}
                                            {{ property.rateHousing.bathroomState.name }}
                                        {% endif %}
                                    </td>
                                    <th>Cocina / Estado</th>
                                    <td>
                                        {% if property.rateHousing.beenCooking is not empty %}
                                            {{ property.rateHousing.beenCooking.name }}
                                        {% endif %}
                                    </td>
                                    <th>Metros²</th>
                                    <td>{{ property.rateHousing.realMeters }}</td>
                                </tr>
                                <tr>
                                    <th>Orientación</th>
                                    <td>
                                        {% if property.rateHousing.orientation is not empty %}
                                            {{ property.rateHousing.orientation.name }}
                                        {% endif %}
                                    </td>
                                    <th>Cert. Energét.</th>
                                    <td>
                                        {% if property.rateHousing.energyCertificate is not empty %}
                                            {{ property.rateHousing.energyCertificate.name }}
                                        {% endif %}
                                    </td>
                                    <th>Ventana</th>
                                    <td>
                                        {% if property.rateHousing.window is not empty %}
                                            {{ property.rateHousing.window.name }}
                                        {% endif %}
                                    </td>
                                    <th>Estado Ventana</th>
                                    <td>
                                        {% if property.rateHousing.windowsState is not empty %}
                                            {{ property.rateHousing.windowsState.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Puerta</th>
                                    <td>
                                        {% if property.rateHousing.door is not empty %}
                                            {{ property.rateHousing.door.name }}
                                        {% endif %}
                                    </td>
                                    <th>Estado Puerta</th>
                                    <td>
                                        {% if property.rateHousing.doorsState is not empty %}
                                            {{ property.rateHousing.doorsState.name }}
                                        {% endif %}
                                    </td>
                                    <th>Estado Suelo</th>
                                    <td>
                                        {% if property.rateHousing.groundState is not empty %}
                                            {{ property.rateHousing.groundState.name }}
                                        {% endif %}
                                    </td>
                                    <th>Calefacción</th>
                                    <td>
                                        {% if property.rateHousing.heating is not empty %}
                                            {{ property.rateHousing.heating.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center bg-light" colspan="8">EXTRAS</th>
                                </tr>
                                <tr>
                                    <th>Terraza</th>
                                    <td>{{ property.rateHousing.terrace ? 'Si' : 'No' }}</td>
                                    <th>Baño en Suit</th>
                                    <td>{{ property.rateHousing.suitBathroom ? 'Si' : 'No'}}</td>
                                    <th>Videoportero</th>
                                    <td>{{ property.rateHousing.videoIntercom ? 'Si' : 'No'}}</td>
                                    <th>Trastero</th>
                                    <td>{{ property.rateHousing.storageRoom ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr>
                                    <th>Garaje Directo</th>
                                    <td>{{ property.rateHousing.directGarage ? 'Si' : 'No'}}</td>
                                    <th>Acceso Minusválido</th>
                                    <td>{{ property.rateHousing.disabledAccess ? 'Si' : 'No'}}</td>
                                    <th>Cota Zero</th>
                                    <td>{{ property.rateHousing.zeroDimension ? 'Si' : 'No'}}</td>
                                    <th>Ascensor</th>
                                    <td>{{ property.rateHousing.elevator ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr>
                                    <th class="text-center bg-light" colspan="8">EDIFICIO</th>
                                </tr>
                                <tr>
                                    <th>Antigüedad</th>
                                    <td>{{ property.rateHousing.antiquity }}</td>
                                    <th>Gastos Comunidad</th>
                                    <td>{{ property.rateHousing.communityExpenses }}</td>
                                    <th>Derrama Pendiente</th>
                                    <td title="{{ property.rateHousing.pendingSpills }}">{{ property.rateHousing.pendingSpills|slice(0, 50) }}</td>
                                    <th>Importe derrama Pendiente</th>
                                    <td>{{ property.rateHousing.amountPendingSpills }}</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Derrama Futura</th>
                                    <td title="{{ property.rateHousing.spillsFuture }}" colspan="2">{{ property.rateHousing.spillsFuture|slice(0, 50) }}</td>
                                    <th>Administrador de Fincas</th>
                                    <td>{{ property.rateHousing.administrator }}</td>
                                    <th>Móvil / Teléfono</th>
                                    <td>{{ property.rateHousing.mobileAdministrator }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

{#                        Sistema de Alarma: {{ property.rateHousing.alarmSystem}}#}
{#                        Puerta Automática: {{ property.rateHousing.automaticDoor}}#}
{#                        Aire Acondicionado: {{ property.rateHousing.airConditioning}}#}

                    {% else %}
{#                        {{ include('admin/rate_housing/_form_rate_housing.html.twig', {'form': formRate}) }}#}
                        {{ include('admin/property/_form_rate_housing.html.twig') }}

                    {% endif %}
                </div>
                <div class="card-footer">
                    {{ include('admin/_back_link.html.twig', {'route': 'property_index'}) }}
                    {% if property.rateHousing %}
                        {{ include('admin/_edit_link.html.twig', {'route': 'property_rate_housing_edit', 'id': property.rateHousing.id, 'button_label': 'Editar'}) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}