{% extends 'admin/layout.html.twig' %}

{% block title %}Rebajas{% endblock %}

{% block content %}
    {% include 'admin/property/type_property/_tab.html.twig' %}

    {% if property.charge %}
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary ">Rebajas {{ property.propertyReductions.count }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="m-2">
                            {{ include('admin/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 400px;">
                    <div class="col-md-12 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                        <tr>
                                            <th>Fecha de rebaja</th>
                                            <th>Importe rebajado</th>
                                            <th>Último precio</th>
                                            <th>Porcentaje</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for propertyReduction in property.propertyReductions %}
                                            <tr>
                                                <td>{{ propertyReduction.reductionDate|date('d-m-Y') }}</td>
                                                <td>{{ propertyReduction.price }} €</td>
                                                <td>
                                                    {#                                                            {{ propertyReduction.lastPrice }} €#}
                                                    {{ (propertyReduction.property.charge.price - sumPropertyReduction)|number_format(0, ',', '.') }} €
                                                </td>
                                                <td>
                                                    {{ propertyReduction.price / propertyReduction.property.charge.price * 100|number_format(0, ',', '.') }} %
                                                    {#                                                            {{ propertyReduction.percentage }}%#}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}