<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Erreka Inmobiliaria{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/logo-erreka.jpg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('fronted') }}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
        <style>
            /* GLOBAL STYLES
-------------------------------------------------- */
            /* Padding below the footer and lighter body text */

            body {
                padding-top: 6rem;
                padding-bottom: 0;
                color: #5a5a5a;
            }

            .nav-link:focus {
                color: green !important;
            }



        </style>
    {% endblock %}
</head>
<body>
    {% block header %}
        <header>
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('default') }}"><img width="150px" class="m-2" src="{{ asset('img/logo-erreka.png') }}" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item {% if app.request.get('_route') == 'default' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('default') }}">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item ml-2 {% if app.request.get('_route') == 'search_fronted' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('search_fronted') }}">Propiedades</a>
                            </li>
                            <li class="nav-item ml-2 {% if app.request.get('_route') == 'to_sell' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('to_sell') }}">¿Quieres vender?</a>
                            </li>
                            <li class="nav-item {% if app.request.get('_route') == 'guaranteed_rental' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('guaranteed_rental') }}">Alquiler Garantizado</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Servicios
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_lawyers' %}active{% endif %}" href="{{ path('services_lawyers') }}">Abogados</a>
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_tax_advice' %}active{% endif %}" href="{{ path('services_tax_advice') }}">Asesoría Fiscal</a>
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_insurance' %}active{% endif %}" href="{{ path('services_insurance') }}">Seguros</a>
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_reforms' %}active{% endif %}" href="{{ path('services_reforms') }}">Reformas</a>
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_financing' %}active{% endif %}" href="{{ path('services_financing') }}">Financiación</a>
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_energy_certificate' %}active{% endif %}" href="{{ path('services_energy_certificate') }}">Certificado Energético</a>
                                </div>
                            </li>
                            <li class="nav-item {% if app.request.get('_route') == 'about_us' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('about_us') }}">Nosotros</a>
                            </li>
                            <li class="nav-item {% if app.request.get('_route') == 'contact' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('contact') }}">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        <!-- FOOTER -->
        <footer class="container-fluid bg-light py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md">
                        <img width="150px" src="{{ asset('img/logo-erreka.png') }}" alt="">
                        <small class="d-block mb-3 text-muted text-center">© 2020</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Cool stuff</a></li>
                            <li><a class="text-muted" href="#">Random feature</a></li>
                            <li><a class="text-muted" href="#">Team feature</a></li>
                            <li><a class="text-muted" href="#">Stuff for developers</a></li>
                            <li><a class="text-muted" href="#">Another one</a></li>
                            <li><a class="text-muted" href="#">Last time</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Resource</a></li>
                            <li><a class="text-muted" href="#">Resource name</a></li>
                            <li><a class="text-muted" href="#">Another resource</a></li>
                            <li><a class="text-muted" href="#">Final resource</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Business</a></li>
                            <li><a class="text-muted" href="#">Education</a></li>
                            <li><a class="text-muted" href="#">Government</a></li>
                            <li><a class="text-muted" href="#">Gaming</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Team</a></li>
                            <li><a class="text-muted" href="#">Locations</a></li>
                            <li><a class="text-muted" href="#">Privacy</a></li>
                            <li><a class="text-muted" href="#">Terms</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Footer -->
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('fronted') }}
    {% endblock %}
</body>
</html>
