<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Erreka Inmobiliaria{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/logo-erreka.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('fronted') }}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
        <style>
            body {
                padding-top: 6rem;
                padding-bottom: 0;
                color: #5a5a5a;
            }

            .nav-link:focus {
                color: #3DBEC9 !important;
            }

            .active {
                border-bottom: 1px solid #3DBEC9 !important;
            }
        </style>
        {% include "@CHCookieConsent/cookie_consent_styling.html.twig" %}
    {% endblock %}
</head>
<body>
    {% block header %}
        <header>
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('default') }}"><img width="150px" class="m-2" src="{{ asset('img/logo-erreka.png') }}" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item {% if app.request.get('_route') == 'default' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('default') }}">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item ml-2 {% if app.request.get('_route') == 'search_fronted' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('search_fronted') }}">Propiedades</a>
                            </li>
                            <li class="nav-item ml-2 {% if app.request.get('_route') == 'to_sell' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('to_sell') }}">¿Quieres vender?</a>
                            </li>
                            <li class="nav-item ml-2 {% if app.request.get('_route') == 'guaranteed_rental' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('guaranteed_rental') }}">Alquiler Garantizado</a>
                            </li>
                            <li class="nav-item ml-2 dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Servicios
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_lawyers' %}active{% endif %}" href="{{ path('services_lawyers') }}">Abogados</a>
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_tax_advice' %}active{% endif %}" href="{{ path('services_tax_advice') }}">Asesoría</a>
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_insurance' %}active{% endif %}" href="{{ path('services_insurance') }}">Seguros</a>
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_reforms' %}active{% endif %}" href="{{ path('services_reforms') }}">Reformas</a>
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_financing' %}active{% endif %}" href="{{ path('services_financing') }}">Financiación</a>
                                    <a class="dropdown-item {% if app.request.get('_route') == 'services_energy_certificate' %}active{% endif %}" href="{{ path('services_energy_certificate') }}">Certificado Energético</a>
                                </div>
                            </li>
                            <li class="nav-item ml-2 {% if app.request.get('_route') == 'about_us' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('about_us') }}">Nosotros</a>
                            </li>
                            <li class="nav-item ml-2 {% if app.request.get('_route') == 'contact' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('contact') }}">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        <!-- FOOTER -->
        <footer class="container-fluid bg-light py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img width="150px" src="{{ asset('img/logo-erreka.png') }}" alt="">
                        <small class="d-block mb-3 text-muted text-center">© 2020</small>
                    </div>
                    <div class="col-md-3">
                        <h5>Erreka Inmobiliaria</h5>
                        <ul class="list-unstyled text-small">
                            <li>Zamakola 65, Bj (La Peña)</li>
                            <li>675 602 296 - 944 790 908</li>
                            <li><a href="mailto:info@errekainmobiliaria.com">info@errekainmobiliaria.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Erreka Garrido Inmobiliaria</h5>
                        <ul class="list-unstyled text-small">
                            <li>Bilbao La Vieja 1, Bj</li>
                            <li>688 713 382 - 688 738 264</li>
                            <li><a href="mailto:info@errekagarrido.com">info@errekagarrido.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Asesoría Garrido</h5>
                        <ul class="list-unstyled text-small">
                            <li>Zamakola 49, Bj (La Peña)</li>
                            <li>688 823 351 - 944 169 854</li>
                            <li><a href="mailto:info@zamakolaabogados.com">info@zamakolaabogados.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn btn-link" href="{{ path('legal_warning') }}">Aviso Legal</a>
                        <a class="btn btn-link" href="{{ path('privacy_police') }}">Política Privacidad</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a target="_blank" class="btn btn-link" href="https://www.instagram.com/errekainmo/"><i class="fab fa-2x fa-instagram"></i></a>
                        <a target="_blank" class="btn btn-link" href="https://www.facebook.com/ErrekaInmobiliaria/"><i class="fab fa-2x fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    {% endblock %}
    {% if chcookieconsent_isCookieConsentSavedByUser() == true %}
        {{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set', { 'locale' : app.request.locale })) }}
    {% endif %}
    {% block javascripts %}
        {{ encore_entry_script_tags('fronted') }}
    {% endblock %}
</body>
</html>
