{% extends 'fronted/fronted.html.twig' %}

{% block title %}Sobre nosotros{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="text-center">
            <h2>Nuestras agencias</h2>
            <p>
                Confíe su vivienda a Erreka Inmobiliaria. Su agencia del barrio.
            </p>
        </div>

        <!-- START THE FEATURETTES -->
        <div class="row featurette mt-5">
            <div class="col-md-7">
                <h2 class="featurette-heading">Erreka <span class="text-muted">Inmobiliaria</span></h2>
                <p class="lead">Con nuestra larga trayectoria de más de 10 años en el sector inmobiliario en el barrio de La Peña, tanto en venta como en alquiler, nos preocupamos por asumir una posición de vanguardia en el mercado inmobiliario, adquiriendo el mejor conocimiento, y ofreciendo una atención profesional y discreta, con calidez humana, que nos conduce a conseguir la mejor solución de las necesidades a nuestros clientes.</p>
                <h5>Erreka Inmobiliaria</h5>
                <ul class="list-unstyled text-small">
                    <li>Zamakola 65, Bj (La Peña)</li>
                    <li>675 602 296 - 944 790 908</li>
                    <li><a class="text-muted" href="mailto:info@errekainmobiliaria.com">info@errekainmobiliaria.com</a></li>
                </ul>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ asset('img/offices/erreka.jpg') }}" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Asesoría <span class="text-muted">Garrido</span></h2>
                <p class="lead">Garrido Correduría de segurosubicada en Bilbao y con amplia experiencia y dedicación de más de 30 años en el sector asegurador, tiene como principal objetivo ofrecer los mejores servicios, siempre daptados a las necesidades de los clientes.</p>
                <ul class="list-unstyled text-small">
                    <li>Zamakola 49, Bj (La Peña)</li>
                    <li>688 823 351 - 944 169 854</li>
                    <li><a class="text-muted" href="mailto:info@zamakolaabogados.com">info@zamakolaabogados.com</a></li>
                </ul>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ asset('img/offices/garrido.jpg') }}" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Erreka Garrido <span class="text-muted">Inmobiliaria</span></h2>
                <p class="lead">Gracias a la fusión de dos empresas referentes en el barrio, hemos creado el Grupo Erreka Garrido para dar un servicio más completo a todos nuestros clientes.</p>
                <ul class="list-unstyled text-small">
                    <li>Bilbao La Vieja 1, Bj</li>
                    <li>688 713 382 - 688 738 264</li>
                    <li><a class="text-muted" href="mailto:info@errekagarrido.com">info@errekagarrido.com</a></li>
                </ul>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ asset('img/offices/erreka_garrido.jpg') }}" alt="">
            </div>
        </div>
        {#
                <hr class="featurette-divider">

                <div class="text-center">
                    <h2>Agentes</h2>
                    <p>
                        Erreka Inmobiliaria cuenta con un equipo de profesionales altamente
                        cualificados, lo que nos permite cubrir una amplia gama de servicios y
                        un conocimiento integral del sector Inmobiliario.
                    </p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agents/jon.jpeg') }}" alt="">
                                <div class="card-body">
                                    <h3 class="text-center">Jon De Castro</h3>
                                    <p class="card-text">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agents/nekane.png') }}" alt="">
                                <div class="card-body">
                                    <h3 class="text-center">Nekane Bilbao</h3>
                                    <p class="card-text">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agentes.png') }}" alt="">
                                <div class="card-body">
                                    <h3 class="text-center">Iñaki Elosua</h3>
                                    <p class="card-text">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agents/zaida.jpeg') }}" alt="">
                                <div class="card-body">
                                    <h3 class="text-center">Zaina Garcia</h3>
                                    <p class="card-text">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agentes.png') }}" alt="">
                                <div class="card-body">
                                    <h3 class="text-center">Jasmina Velasco</h3>
                                    <p class="card-text">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agentes.png') }}" alt="">
                                <div class="card-body">
                                    <h3 class="text-center">Iñigo Garrido</h3>
                                    <p class="card-text">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}




    </div>

    <hr class="featurette-divider">

{% endblock %}