{% extends 'fronted/fronted.html.twig' %}

{% block title %}Sobre nosotros{% endblock %}

{% block body %}
    <div class="container marketing mt-5">
        <p>
            Con nuestra larga trayectoria de más de 10 años en el sector
            inmobiliario en el barrio de La Peña, tanto en venta como en alquiler,
            nos preocupamos por asumir una posición de vanguardia en el
            mercado inmobiliario, adquiriendo el mejor conocimiento, y
            ofreciendo una atención profesional y discreta, con calidez humana,
            que nos conduce a conseguir la mejor solución de las necesidades a
            nuestros clientes.
            Cuando nuestros clientes optan por confiar en Erreka Inmobiliaria se
            aseguran la tranquilidad de hacerlo con la agencia que les ofrece la
            atención exclusiva que ellos mismos dedicarían a su vivienda.
            Atendemos y estudiamos todas las necesidades de cada uno de
            nuestros clientes, tanto en las operaciones de compra-venta como en
            alquiler, esforzándonos por conseguir y ayudar a que tomen las
            mejores decisiones en todas y cada una de las operaciones
            inmobiliarias. Les asesoramos en todo el proceso, en la elección,
            información y verificación de las cargas, la negociación, en los
            contratos, en la firma de la escritura y mantenemos el contacto
            profesional y personal en la postventa.
            Confíe su vivienda a Erreka Inmobiliaria. Su agencia del barrio.
        </p>
        <h2>Nuestras agencias</h2>
        <!-- START THE FEATURETTES -->
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Inmobiliaria. <span class="text-muted">Erreka</span></h2>
                <p class="lead">Donegna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ asset('img/bilbao.png') }}" alt="">
            </div>
        </div>

        <hr class="featurette-divider">


        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Inmobiliaria<span class="text-muted">Erreka Garrido</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ asset('img/san-anton.jpg') }}" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Inmobiliaria. <span class="text-muted">Erreka</span></h2>
                <p class="lead">Donegna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ asset('img/bilbao.png') }}" alt="">
            </div>
        </div>

        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->

        <div class="album">
            <h2 class="text-center">Agentes</h2>
            <p class="text-center">
                Erreka Inmobiliaria cuenta con un equipo de profesionales altamente
                cualificados, lo que nos permite cubrir una amplia gama de servicios y
                un conocimiento integral del sector Inmobiliario.
            </p>
            <p class="text-center">
                Nuestros profesionales marcan la diferencia en su compromiso con el
                cliente aplicando una filosofía de servicio basada en el trato directo y
                en la transparencia.
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agents/jon.jpeg') }}" alt="">
                            <div class="card-body">
                                <h3 class="text-center">Jon De Castro</h3>
                                <p class="card-text">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agents/nekane.png') }}" alt="">
                            <div class="card-body">
                                <h3 class="text-center">Nekane Bilbao</h3>
                                <p class="card-text">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agentes.png') }}" alt="">
                            <div class="card-body">
                                <h3 class="text-center">Iñaki Elosua</h3>
                                <p class="card-text">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agents/zaida.jpeg') }}" alt="">
                            <div class="card-body">
                                <h3 class="text-center">Zaina Garcia</h3>
                                <p class="card-text">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agentes.png') }}" alt="">
                            <div class="card-body">
                                <h3 class="text-center">Jasmina Velasco</h3>
                                <p class="card-text">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="{{ asset('img/agentes.png') }}" alt="">
                            <div class="card-body">
                                <h3 class="text-center">Iñigo Garrido</h3>
                                <p class="card-text">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <hr class="featurette-divider">

{% endblock %}