{% extends 'fronted/fronted.html.twig' %}

{% block metadata %}
    <meta name="title" content="Sobre nosotros | Erreka Inmobiliaria - La Peña">
    <meta name="description" content="Con más de 16 años en el sector Inmobiliario en Bilbao, hemos asumido el compromiso de satisfacer la gestión de compra, venta y alquiler de pisos e inmuebles de nuestros clientes.">
    <meta name="author" content="errekainmobiliaria.com">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
    <meta property="og:title" content="Sobre nosotros | Erreka Inmobiliaria - La Peña">
    <meta property="og:description" content="Con más de 16 años en el sector Inmobiliario en Bilbao, hemos asumido el compromiso de satisfacer la gestión de compra, venta y alquiler de pisos e inmuebles de nuestros clientes.">
    <meta property="og:image" content="{{ asset('img/logo-erreka.png')|imagine_filter('squared_thumbnail_large') }}">
{% endblock %}

{% block title %}Sobre nosotros | Erreka Inmobiliaria - La Peña {% endblock %}

{% block body %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Grupo Erreka Garrido</h1>
                            <span class="color-text-a">3 Agencias en Bilbao como eje de crecimiento en el sector inmobiliario.</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('homepage') }}">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Nosotros
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-lg-5">
                                <img src="{{ asset('img/offices/erreka-min.jpg') }}" alt="Oficina Erreka" class="img-fluid">
                            </div>
                            <div class="col-md-6 col-lg-5 section-md-t3">
                                <div class="title-box-d">
                                    <h2 class="title-d">Erreka
                                        <span class="color-b">Inmobiliaria</span>
                                    </h2>
                                </div>
                                <p class="color-text-a">
                                    Con una larga experiencia de más de 16 años en el sector inmobiliario en el barrio de La Peña, tanto en venta como en alquiler, nos preocupamos por asumir una posición de vanguardia en el mercado inmobiliario, adquiriendo el mejor conocimiento, y ofreciendo una atención profesional y discreta, con calidez humana, que nos conduce a conseguir la mejor solución de las necesidades a nuestros clientes.
                                </p>
                                <ul class="list-unstyled">
                                    <li class="color-a">
                                        <span class="color-text-a">Dirección: </span><a target="_blank" href="https://goo.gl/maps/D6yGAVfyMhxKNPiK9">Zamakola 65, Bj, La Peña</a>
                                    </li>
                                    <li class="color-a">
                                        <span class="color-text-a">Móvil: </span><a href="tel:+34675602296">+34 675 602 296</a>
                                    </li>
                                    <li class="color-a">
                                        <span class="color-text-a">Teléfono: </span><a href="tel:+34944790908">944 790 908</a>
                                    </li>
                                    <li class="color-a">
                                        <span class="color-text-a">Correo: </span><a href="mailto:info@errekainmobiliaria.com">info@errekainmobiliaria.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row section-t8">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-lg-5 section-md-t3">
                                <div class="title-box-d">
                                    <h2 class="title-d">Asesoría y Correduría
                                        <span class="color-b">Garrido</span>
                                    </h2>
                                </div>
                                <p class="color-text-a">
                                    Correduría de seguros ubicada en Bilbao y con amplia experiencia y dedicación de más de 30 años en el sector asegurador, tiene como principal objetivo ofrecer los mejores servicios, siempre adaptados a las necesidades de los clientes.
                                </p>
                                <ul class="list-unstyled">
                                    <li class="color-a">
                                        <span class="color-text-a">Dirección: </span><a target="_blank" href="https://goo.gl/maps/vHKHyGmpwK9gbgCZA">Zamakola 49 Bj, La Peña</a>
                                    </li>
                                    <li class="color-a">
                                        <span class="color-text-a">Móvil: </span><a href="tel:+34688823351">+34 688 823 351</a>
                                    </li>
                                    <li class="color-a">
                                        <span class="color-text-a">Teléfono: </span><a href="tel:+34944169854">944 169 854</a>
                                    </li>
                                    <li class="color-a">
                                        <span class="color-text-a">Correo: </span> <a href="mailto:info@zamakolaabogados.com">info@zamakolaabogados.com</a>
                                    </li>
                                    <li class="color-a">
                                        <span class="color-text-a">Correo: </span> <a href="mailto:info@segurosgarrido.com">info@segurosgarrido.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-5">
                                <img src="{{ asset('img/offices/garrido-min.jpg') }}" alt="Oficina Erreka" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row section-t8">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-lg-5">
                                <img src="{{ asset('img/offices/erreka-garrido-min.jpg') }}" alt="Oficina Erreka" class="img-fluid">
                            </div>
                            <div class="col-md-6 col-lg-5 section-md-t3">
                                <div class="title-box-d">
                                    <h2 class="title-d">Erreka Garrido
                                        <span class="color-b">Inmobiliaria</span>
                                    </h2>
                                </div>
                                <p class="color-text-a">
                                    Gracias a la fusión de dos empresas referentes en el barrio, hemos creado el Grupo Erreka Garrido para dar un servicio más completo a todos nuestros clientes.
                                </p>
                                <ul class="list-unstyled">
                                    <li class="color-a">
                                        <span class="color-text-a">Dirección: </span><a target="_blank" href="https://goo.gl/maps/WYdAtMYmMVRB6gLp8">Bilbao La Vieja 1, Bj</a>
                                    </li>
                                    <li class="color-a">
                                        <span class="color-text-a">Móvil: </span><a rel="nofollow" href="tel:+34688713382">+34 688 713 382</a>
                                    </li>
                                    <li class="color-a">
                                        <span class="color-text-a">Móvil: </span><a href="tel:+34688738264">+34 688 738 264</a>
                                    </li>
                                    <li class="color-a">
                                        <span class="color-text-a">Correo: </span><a href="mailto:info@errekagarrido.com">info@errekagarrido.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}