{% extends 'fronted/fronted.html.twig' %}

{% block metadata %}
    <meta name="title" content="¿Alquilas tu piso? Te garantizamos el cobro mensual | Erreka Inmobiliaria - La Peña">
    <meta name="description" content="Recibe tu dinero, aunque el inquilino no pague. Gestionamos todo el proceso del alquiler: contratos, garantías al propietario, seguro de impago, reclamaciones judiciales y depósito de fianza. En Bilbao, brindamos toda protección a nuestros clientes.">
    <meta name="keywords" content="Alquilar piso, Alquilar piso Bilbao, Alquilar piso Inmobiliaria, Alquiler garantizado en bilbao.">
    <meta name="author" content="errekainmobiliaria.com">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
    <meta property="og:title" content="¿Alquilas tu piso? Te garantizamos el cobro mensual | Erreka Inmobiliaria - La Peña">
    <meta property="og:description" content="Recibe tu dinero, aunque el inquilino no pague. Gestionamos todo el proceso del alquiler: contratos, garantías al propietario, seguro de impago, reclamaciones judiciales y depósito de fianza. En Bilbao, brindamos toda protección a nuestros clientes.">
    <meta property="og:image" content="{{ asset('img/logo-erreka.png')|imagine_filter('squared_thumbnail_large') }}">
{% endblock %}

{% block title %}¿Alquilas tu piso? Te garantizamos el cobro mensual | Erreka Inmobiliaria - La Peña{% endblock %}

{% block body %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">¡Alquila tu vivienda con <br>garantía de pago!</h1>
                            <span class="color-text-a">
                                El <strong>Seguro de Alquiler</strong> protege tus intéreses como
                                <br>
                                propietario, principalmente el pago de tu alquiler.
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('homepage') }}">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Alquiler garantizado
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <section class="agent-single">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="agent-avatar-box">
                                <img src="{{ asset('img/sell/agencias.jpg') }}" alt="3 Agencias" class="agent-avatar img-fluid">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="agent-info-box">
                                <div class="agent-title">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Inquilino con solvencia
                                            <br> de pago</h3>
                                    </div>
                                </div>
                                <div class="agent-content mb-3">
                                    <p class="content-d color-text-a">
                                        Estudiamos la <strong> solvencia económica</strong> de los candidatos para comprobar la viabilidad del pago mensual de tu inmueble y <strong>evitar los riesgos de escoger mal al inquilino. </strong>
                                    </p>
                                    <p class="content-d color-text-a">
                                        <strong>¡Inquilinos solventes y confiables!</strong>
                                    </p>
                                    <p class="content-d color-text-a">
                                        Antes de llevar a cabo un <strong>contrato de alquiler,</strong> consultamos en el registro de morosos (ASENEF, SEAG y FIM) y solicitamos la documentación original y verificable de la estabilidad laboral e ingresos del inquilino.
                                    </p>
                                    <p class="content-d color-text-a">
                                        Evitamos los riesgos de <strong>alquilar tu vivienda y te garantizamos el pago</strong> mensual sin inconvenientes y contratiempos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 section-t8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="agent-info-box">
                                <div class="agent-title">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Garantía total del
                                            <br> cobro del alquiler.</h3>
                                    </div>
                                </div>
                                <div class="agent-content mb-3">
                                    <p class="content-d color-text-a">
                                        El Seguro de Alquiler, te garantizamos el cobro del alquiler y la transferencia peródica del pago el día 8 de cada mes.
                                    </p>
                                    <p class="content-d color-text-a"><strong>¡Si tu inquilino no paga, nosotros lo hacemos!</strong></p>
                                    <p class="content-d color-text-a">
                                        En el caso de que el inquilino deja de pagar el alquiler o se atrasa en una mensualidad, <strong>Erreka Inmobiliaria se hace responsable y cubre la renta de tu vivienda,</strong> favoreciendo a tu interéses y derechos que tienes como propietario.
                                    </p>
                                    <p class="content-d color-text-a">
                                        Además, te <strong>asesoramos y protegemos legalmente tu pratimonio,</strong> reclamando el inclumiento del contrato y actos vandálicos del inquilino que hayan afectado a la integridad de la vivienda.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="agent-avatar-box">
                                <img src="{{ asset('img/sell/valoracion.jpg') }}" alt="Valoración vivienda" class="agent-avatar img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="title-box-d">
                    <h2 class="title-d">Otras coberturas del Seguro del Alquiler</h2>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card border-0">
                    <div class="card-header">
                        <h2 class="card-title text-center">Administración integral del alquiler contratado</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group text-center list-group-flush ">
                            <li class="list-group-item">Gestión de certificado energético.</li>
                            <li class="list-group-item">Gestión de depósito de la fianza.</li>
                            <li class="list-group-item">Gestión de siniestros con tu seguro.</li>
                            <li class="list-group-item">Visitas periódicas a tu vivienda.</li>
                            <li class="list-group-item">Gestión de averías urgentes.</li>
                            <li class="list-group-item">Indemnización por actos vandálicos.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-0">
                    <div class="card-header">
                        <h2 class="card-title text-center">Asesoramiento y defensa legal</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group text-center list-group-flush">
                            <li class="list-group-item">Reclamación de rentas impagadas, daños en la vivienda y deudas de suministros</li>
                            <li class="list-group-item">Procedimiento de desahucio por impago de rentas, por expiración del plazo o incumplimiento</li>
                            <li class="list-group-item">Confección de tu declaración de la Renta</li>
                            <li class="list-group-item">Cambio de cerradura</li>
                            <li class="list-group-item">Indemnización de impagos de suministros</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 section-t4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="agent-info-box ">
                            <div class="agent-title">
                                <div class="title-box-d">
                                    <h3 class="title-d">¿Alquilas tu piso?</h3>
                                </div>
                            </div>
                            <div class="agent-content mb-3">
                                <p class="content-d color-text-a">¡Este <strong>Seguro de Alquiler</strong> es tu modalidad de protección!</p>
                                <lu>
                                    <li>Inquilinos solventes</li>
                                    <li>Alquiler garantizado</li>
                                    <li>Cobertura legal</li>
                                </lu>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 bg-light">

                        <div class="agent-info-box ">
                            <div class="agent-title">
                                <div class="title-box-d">
                                    <h3 class="title-d">Te llamamos</h3>
                                </div>
                            </div>
                            <div class="agent-content">
                                <p class="content-d color-text-a">Deja tus datos y uno nuestros agentes inmobiliarias se pondrá en contacto contigo.</p>
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button class="btn btn-info btn-b float-right">Enviar Mensaje</button>
                                {{ form_end(form) }}

                                {{ include('admin/_flash_messages.html.twig') }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}