{% extends 'fronted/fronted.html.twig' %}

{% block metadata %}
<meta name="title" content="Erreka Inmobiliaria - Inicio">
<meta name="description" content="Erreka Inmobiliaria ubicada en la Peña con mas de 16 años en el sector inmobiliarion en el barrio La Peña, tanto en venta como en alquiler.">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
<meta property="og:title" content="Inmobiliaria Erreka - Inicio">
<meta property="og:description" content="Erreka Inmobiliaria ubicada en la Peña con mas de 16 años en el sector inmobiliarion en el barrio La Peña, tanto en venta como en alquiler.">
<meta property="og:image" content="{{ asset('img/logo-erreka.png')|imagine_filter('squared_thumbnail_large') }}">

{% endblock %}

{% block title %}Inmobiliaria Erreka - Inicio{% endblock %}

{% block body %}
    <!-- ======= Intro Section ======= -->
    <div class="intro intro-carousel">
        <div id="carousel" class="owl-carousel owl-theme">
            <div class="carousel-item-a intro-item bg-image" style="background-image: url('{{ asset('img/propiedad-uno.jpg') }}')">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">Zamakola 65, Bj (La Peña)</p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">Inmobiliaria </span> Erreka
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="{{ path('about_us') }}"><span class="price-a">Más Información</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-a intro-item bg-image" style="background-image: url('{{ asset('img/propiedad-dos.jpg') }}')">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">Bilbao La Vieja 1, Bj</p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">Erreka Garrido </span> Inmobiliaria
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="{{ path('about_us') }}"><span class="price-a">Más Información</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-a intro-item bg-image" style="background-image: url('{{ asset('img/propiedad-tres.jpg') }}')">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">Zamakola 49, Bj (La Peña)</p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">Asesoría </span> Garrido</h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="{{ path('about_us') }}"><span class="price-a">Más Información</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Intro Section -->

    <main id="main">
        <!-- ======= Servicios Destacados ======= -->
        <section class="section-services section-t8">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Servicios Destacados</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fa fa-gavel fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">Vendemos tu vivienda en 90 días</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    ¿Quiéres conoces más de nuestro método exclusivo?
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('to_sell') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-file-signature fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">Alquiler garantizado</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Tu seguridad es nuestro objetivo
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('guaranteed_rental') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fín Servicios Destacados -->

        <!-- ======= Últimas Propiedades ======= -->
        <section class="section-property section-t8">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Últimas Propiedas</h2>
                            </div>
                            <div class="title-link">
                                <a href="{{ path('search_fronted') }}">Todas las propiedades
                                    <span class="fas fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="property-carousel" class="owl-carousel owl-theme">
                    {% for property in properties %}
                    {% if property.countPropertyContract == 0 %}
                    <div class="carousel-item-b">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                {% if property[0].rateHousing.image.first  %}
                                    <img class="img-a img-fluid" src="{{ uploaded_asset(property[0].rateHousing.image.first.imagePath)|imagine_filter('squared_thumbnail_large') }}" alt="">
                                {% else %}
                                    <img class="img-a img-fluid" src="{{ asset('img/not-available.jpg')|imagine_filter('squared_thumbnail_large') }}" alt="Foto no disponible">
                                {% endif %}
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="{{ path('search_details', {'reference': property[0].reference}) }}">{{ property[0].street.name }}
                                                <br /> {{ property[0].street.zone.name }}</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a"><span class="color-b">{{ property[0].reason.name }}</span> | {{ (property[0].charge.price - property.sumPropertyReduction)|number_format  }}€</span>
                                        </div>
                                        <a href="{{ path('search_details', {'reference': property[0].reference}) }}" class="link-a">Haga clic aquí para ver
                                            <span class="fas fa-angle-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span>{{ property[0].rateHousing.realMeters }}m<sup>2</sup></span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Dormitorios</h4>
                                                <span>{{ property[0].rateHousing.bedrooms }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Baños</h4>
                                                <span>{{ property[0].rateHousing.bathrooms }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Garaje</h4>
                                                <span>{{ property[0].rateHousing.directGarage ? 'Si' : 'No' }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Fín Últimas Propiedades -->

        <!-- ======= Servicios ======= -->
        <section class="section-services section-t8">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Servicios</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fa fa-gavel fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">Despacho Abogados</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Vendemos al mayor precio en el menor tiempo.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_lawyers') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-file-signature fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">Asesoría Fiscal</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Asesoría integral de empresas y autónomos.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_tax_advice') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-user-secret fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">Seguros</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Garrido Correduría de seguros ubicada en Bilbao con amplia experiencia y dedicación de más de 30 años en el sector asegurador.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_insurance') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-paint-brush fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">Reformas</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Proyecto de rehabilitación integral de la vivienda.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_reforms') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-hand-holding-usd fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">Financiación</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Hasta el 100% del precio de la vivienda.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_financing') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-lightbulb fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">Certificado Energético</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Obligatorio tanto para la venta como para el alquiler.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_energy_certificate') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fín Servicios -->

        <!-- ======= Testimonios ======= -->
        <section class="section-testimonials section-t8 nav-arrow-a">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Testimonios</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="testimonial-carousel" class="owl-carousel owl-arrow">
                    <div class="carousel-item-a">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img src="{{ asset('img/offices/erreka_garrido.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico text-success">
                                        <span class="fas fa-quote-right"></span>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            Me dieron un servicio personalizado estupendo para comprar un piso, ya que al estar trabajando fuera de Bilbao no podía estar constantemente yendo a ver pisos.
                                            No dudaría en ponerme en manos de ellos si por casualidad vendo el piso para trasladar me a otra ciudad.
                                            Gracias erreka por vuestro tiempo, interés y servicio.
                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <span class="testimonial-avatar fas fa-male fa-3x"></span>
                                        <h5 class="testimonial-author">Luis Ortiz De La Tabla</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item-a">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img src="{{ asset('img/offices/erreka.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico text-success">
                                        <span class="fas fa-quote-right"></span>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            Trato excelente. Muy profesionales y tanto Jon como Nekane muy amables y atentos en todo momento. Nos ayudaron mucho en todos los aspectos. Muy buena experiencia y totalmente recomendable
                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <span class="testimonial-avatar fas fa-female fa-3x"></span>
                                        <h5 class="testimonial-author">Isabel Mondelo</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        <!-- Fín Testimonios -->

    </main>
{% endblock %}