{% extends 'fronted/fronted.html.twig' %}

{% block metadata %}
    <meta name="title" content="Erreka Inmobiliaria - Venta y alquiler de pisos en Bilbao">
    <meta name="description" content="Erreka Inmobiliaria ubicada en la Peña con mas de 16 años en el sector inmobiliarion en el barrio La Peña, tanto en venta como en alquiler.">
    <meta name="keywords" content="Erreka inmobiliaria, inmobiliaria en bilbao, inmobiliaria en la peña">
    <meta name="author" content="errekainmobiliaria.com">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
    <meta property="og:title" content="Inicio | Erreka Inmobiliaria - La Peña">
    <meta property="og:description" content="Erreka Inmobiliaria ubicada en la Peña con mas de 16 años en el sector inmobiliarion en el barrio La Peña, tanto en venta como en alquiler.">
    <meta property="og:image" content="{{ asset('img/logo-erreka.png')|imagine_filter('squared_thumbnail_large') }}">
{% endblock %}

{% block title %} Erreka Inmobiliaria - Venta y alquiler de pisos en Bilbao {% endblock %}

{% block body %}
    <br>
    <br>
    <div class="intro intro-carousel">
        <div id="carousel" class="owl-carousel owl-theme">
            <div class="carousel-item-a intro-item bg-image" style="background-image: url('{{ asset('img/oficina-banner.jpg') }}')">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">Inmobiliaria </span> En Bilbao
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            Grupo Erreka ofrece servicios de inmobiliaria para la venta y alquiler de pisos e inmuebles en Bilbao.
                                        </p>
                                        <p class="intro-subtitle intro-price">
                                            <a href="{{ path('about_us') }}"><span class="price-a">Más Información</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main id="main">
{#        <section class="section-services section-t3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>Encuentra la casa de tus sueños</span>
                            <h2>Buscar Inmuebles</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ render_esi(controller('App\\Controller\\DefaultController::searchHome')) }}
                    </div>
                </div>
            </div>
        </section>#}

        <!-- How It Works Section Begin -->
        <section class="howit-works section-t3">
            <div class="container">
                {#<div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Como funciona</h2>
                        </div>
                    </div>
                </div>#}
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-howit-works">
                            <a href="{{ path('guaranteed_rental') }}">
                                <img src="{{ asset('img/howit-works/howit-works-1.png') }}" alt="">
                                <h4>Alquiler garantizado</h4>
                            </a>
                            <p class="content-c">
                                <b>¿Temes que tus inquilinos no te paguen?</b> <br>
                                Grupo Erreka te garantiza los pagos del alquiler de tu vivienda el día 8 de cada mes, se transfiere directamente a tu cuenta bancaria.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-howit-works">
                            <a href="{{ path('sell') }}">
                                <img src="{{ asset('img/howit-works/howit-works-2.png') }}" alt="">
                                <h4>Vende tu vivienda en 90 días</h4>
                            </a>
                            <p class="content-c">
                                <b>Vender tu Inmueble es fácil.</b> <br>
                                En Grupo Erreka contamos con un potente plan de marketing para vender tu vivienda en las mejores condiciones y al mejor precio.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-howit-works">
                            <a href="{{ path('contact') }}">
                                <img src="{{ asset('img/howit-works/howit-works-3.png') }}" alt="">
                                <h4>Personal Shopper</h4>
                            </a>
                            <p class="content-c">
                                <b>¿Tienes dudas?</b> <br>
                                Un asesor inmobiliario te asesorará durante todo el proceso de la compra o alquiler de tu inmueble.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How It Works Section End -->

        <!-- Feature Section Begin -->
        <div class="top-properties-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="properties-title">
                            <div class="section-title">
                                <span>Propiedades destacadas</span>
                                <h2>Nuevas Propiedades</h2>
                            </div>
                            <a href="{{ path('search_fronted') }}" class="top-property-all">Ver Propiedades</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="feature-section">
            <div class="container">
                <div class="row">
                    <div class="feature-carousel owl-carousel">
                        {% for property in properties %}
                            {% if property.countPropertyContract == 0 %}
                                <div class="col-lg-4">
                                    <a href="{{ path('search_details', {'reference': property[0].reference}) }}">
                                    <div class="feature-item">
                                        {% if property[0].rateHousing.image.first %}
                                        <div class="fi-pic set-bg" data-setbg="{{ uploaded_asset(property[0].rateHousing.image.first.imagePath)|imagine_filter('squared_thumbnail_large') }}">
                                        {% else %}
                                        <div class="fi-pic set-bg" data-setbg="{{ asset('img/not-available.jpg') }}">
                                        {% endif %}
                                            <div class="pic-tag">
                                                <div class="f-text">{{ property[0].typeProperty.name }}</div>
                                                <div class="s-text">{{ property[0].reason.name }}</div>
                                            </div>
                                            {#<div class="feature-author">
                                                <div class="fa-pic">
                                                    <img src="{{ asset('img/icon.png') }}" alt="">
                                                </div>
                                                <div class="fa-text bg-gradient-dark">
                                                    <span>Nombre comercial</span>
                                                </div>
                                            </div>#}
                                        </div>
                                        <div class="fi-text">
                                            <div class="inside-text">
                                                <h4>{{ property[0].street.zone.name }}</h4>
                                                <ul>
                                                    <li><i class="fa fa-map-marker color-b"></i> {{ property[0].street.name }} </li>
{#                                                    <li><i class="fa fa-tag color-b"></i> {{ property[0].typeProperty.name }}</li>#}
                                                </ul>
                                                <h5 class="price">{{ (property[0].charge.price - property.sumPropertyReduction)|number_format  }}<span>€</span></h5>
                                            </div>
                                            <ul class="room-features">
                                                <li>
                                                    <i class="fa fa-arrows-alt color-b"></i>
                                                    <p>{{ property[0].rateHousing.realMeters }} m<sup>2</sup></p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-bed color-b"></i>
                                                    <p>{{ property[0].rateHousing.bedrooms }}</p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-bath color-b"></i>
                                                    <p>{{ property[0].rateHousing.bathrooms }}</p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-car color-b"></i>
                                                    <p>{{ property[0].rateHousing.directGarage ? 'Si' : 'No' }}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Feature Section End -->

        {#<section class="section-property section-t3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Últimas Propiedades</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="property-carousel" class="owl-carousel owl-theme">
                    {% for property in properties %}
                        {% if property.countPropertyContract == 0 %}
                            <div class="carousel-item-b">
                                <div class="card-box-a card-shadow">
                                    <div class="img-box-a">
                                        {% if property[0].rateHousing.image.first %}
                                            <img class="img-a img-fluid" src="{{ uploaded_asset(property[0].rateHousing.image.first.imagePath)|imagine_filter('squared_thumbnail_large') }}" alt="">
                                        {% else %}
                                            <img class="img-a img-fluid" src="{{ asset('img/not-available.jpg')|imagine_filter('squared_thumbnail_large') }}" alt="Foto no disponible">
                                        {% endif %}
                                    </div>
                                    <div class="card-overlay">
                                        <div class="card-overlay-a-content">
                                            <div class="card-header-a">
                                                <h2 class="card-title-a">
                                                    <a href="{{ path('search_details', {'reference': property[0].reference}) }}">{{ property[0].street.name }}
                                                        <br /> {{ property[0].street.zone.name }}</a>
                                                </h2>
                                            </div>
                                            <div class="card-body-a">
                                                <div class="price-box d-flex">
                                                    <span class="price-a"><span class="color-b">{{ property[0].reason.name }}</span> | {{ (property[0].charge.price - property.sumPropertyReduction)|number_format  }}€</span>
                                                </div>
                                                <a href="{{ path('search_details', {'reference': property[0].reference}) }}" class="link-a">Haga clic aquí para ver
                                                    <span class="fas fa-angle-right"></span>
                                                </a>
                                            </div>
                                            <div class="card-footer-a">
                                                <ul class="card-info d-flex justify-content-around">
                                                    <li>
                                                        <h4 class="card-info-title"><i class="fas fa-ruler-combined"></i> Área</h4>
                                                        <span>{{ property[0].rateHousing.realMeters }} m<sup>2</sup></span>
                                                    </li>
                                                    <li>
                                                        <h4 class="card-info-title"><i class="fas fa-bed"></i> Dorm.</h4>
                                                        <span>{{ property[0].rateHousing.bedrooms }}</span>
                                                    </li>
                                                    <li>
                                                        <h4 class="card-info-title"><i class="fas fa-bath"></i> Baños</h4>
                                                        <span>{{ property[0].rateHousing.bathrooms }}</span>
                                                    </li>
                                                    <li>
                                                        <h4 class="card-info-title"><i class="fas fa-car-side"></i> Garaje</h4>
                                                        <span>{{ property[0].rateHousing.directGarage ? 'Si' : 'No' }}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <div class="title-link float-right">
                            <a href="{{ path('search_fronted') }}">Todas las propiedades
                                <span class="fas fa-angle-right"></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>#}

        <section class="section-services section-t3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Servicios</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fa fa-gavel fa-3x"></span>
                                </div>
                                <div class="card-title-a align-self-center">
                                    <h3 class="title-2 ml-1">Despacho Abogados</h3>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Gabinete jurídico especializado en penal, civil y laboral.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_lawyers') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-file-signature fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h3 class="title-2 ml-1">Asesoría Fiscal</h3>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Asesoría integral de empresas y autónomos.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_tax_advice') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-user-secret fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h3 class="title-2 ml-1">Seguros</h3>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Correduría con amplia experiencia y dedicación en el sector asegurador.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_insurance') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-paint-brush fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h3 class="title-2 ml-1">Reformas</h3>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Proyecto de rehabilitación integral de la vivienda.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_reforms') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-hand-holding-usd fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h3 class="title-2 ml-1">Financiación</h3>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Intermediación financiera hasta el 100% del precio de la vivienda.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_financing') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico text-info">
                                    <span class="fas fa-lightbulb fa-3x"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h3 class="title-2 ml-1">Certificado Energético</h3>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    Obligatorio tanto para la venta como para el alquiler.
                                </p>
                            </div>
                            <div class="card-footer-c">
                                <a href="{{ path('services_energy_certificate') }}" class="link-c link-icon">Más Información
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-testimonials section-t8 nav-arrow-a">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Testimonios</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="testimonial-carousel" class="owl-carousel owl-arrow">
                    <div class="carousel-item-a">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img src="{{ asset('img/offices/erreka-min.jpg') }}" alt="Oficina Erreka" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico text-success">
                                        <span class="fas fa-quote-right"></span>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            Me dieron un servicio personalizado estupendo para comprar un piso, ya que al estar trabajando fuera de Bilbao no podía estar constantemente yendo a ver pisos.
                                            No dudaría en ponerme en manos de ellos si por casualidad vendo el piso para trasladar me a otra ciudad.
                                            Gracias erreka por vuestro tiempo, interés y servicio.
                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <span class="testimonial-avatar fas fa-male fa-3x"></span>
                                        <h5 class="testimonial-author">Luis Ortiz De La Tabla</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item-a">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img src="{{ asset('img/offices/erreka-garrido-min.jpg') }}" alt="Oficina Erreka Garrido" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico text-success">
                                        <span class="fas fa-quote-right"></span>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            Trato excelente. Muy profesionales y tanto Jon como Nekane muy amables y atentos en todo momento. Nos ayudaron mucho en todos los aspectos. Muy buena experiencia y totalmente recomendable
                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <span class="testimonial-avatar fas fa-female fa-3x"></span>
                                        <h5 class="testimonial-author">Isabel Mondelo</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item-a">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img src="{{ asset('img/offices/garrido-min.jpg') }}" alt="Oficina Asesoría Garrido" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico text-success">
                                        <span class="fas fa-quote-right"></span>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            La experiencia fue muy positiva, Jon es un gran profesional, y tengo que admitir que me ayudó mucho en todo momento. Muy recomendable.                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <span class="testimonial-avatar fas fa-female fa-3x"></span>
                                        <h5 class="testimonial-author">Alain Sanchez</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}