{% extends 'fronted/fronted.html.twig' %}

{% block title %}Buscar Propiedad | Erreka Inmobiliaria (La Peña){% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Inmuebles</h1>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('default') }}">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Inmuebles
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Intro Single-->
    </main>

    <div class="container">
        {{ form_start(form, {'attr': {'class': 'php-email-form'}}) }}
            <div class="row">
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        {{ form_row(form.sellOrRent) }}
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        {{ form_row(form.bedrooms) }}
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        {{ form_row(form.price) }}
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        {{ form_row(form.typeProperty) }}
                    </div>
                </div>
                <div class="col-md-12 text-center mb-3">
                    <button type="submit" class="btn btn-a btn-info">Buscar Propiedad</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    <section class="property-grid grid">
        <div class="container">
            <div class="row mb-5">
                {% for property in properties %}
                    {% if property.countPropertyContract == 0 %}
                        <div class="col-md-6 col-lg-4">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    {% if property[0].rateHousing.image.first %}
                                        <img class="img-a img-fluid" src="{{ uploaded_asset(property[0].rateHousing.image.first.imagePath)|imagine_filter('squared_thumbnail_large') }}" alt="">
                                    {% else %}
                                        <img class="img-a img-fluid" src="{{ asset('img/not-available.jpg')|imagine_filter('squared_thumbnail_large') }}" alt="Image" />
                                    {% endif %}
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a class="text-white" href="{{ path('search_details', {'reference': property[0].reference}) }}">
                                                    {{ property[0].street.name }}
                                                    <br> <span class="color-b">{{ property[0].street.zone.name }}</span>
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="card-body-a">
                                            <div class="price-box d-flex">
                                                <span class="price-a"><span class="color-b">{{ property[0].reason.name }}</span> | {{ (property[0].charge.price - property.sumPropertyReduction)|number_format  }}€</span>
                                            </div>
                                            <a href="{{ path('search_details', {'reference': property[0].reference}) }}" class="link-a">Haga clic aquí para ver
                                                <span class="fas fa-angle-right"></span>
                                            </a>
                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-around">
                                                <li>
                                                    <h4 class="card-info-title"><i class="fas fa-ruler-combined"></i> Área</h4>
                                                    <span>{{ property[0].rateHousing.realMeters }} m<sup>2</sup></span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title"><i class="fas fa-bed"></i> Dorm.</h4>
                                                    <span>{{ property[0].rateHousing.bedrooms }}</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title"><i class="fas fa-bath"></i> Baños</h4>
                                                    <span>{{ property[0].rateHousing.bathrooms }}</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title"><i class="fas fa-car-side"></i> Garaje</h4>
                                                    <span>{{ property[0].rateHousing.directGarage ? 'Si' : 'No' }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            {#<div class="row">
                <div class="col-sm-12">
                    <nav class="pagination-a">
                        {% if maxPages > 1 %}
                            <ul class="pagination justify-content-end">
                                {%if thisPage > 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path('search_fronted', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">
                                            <span class="fa fa-angle-left"></span>
                                        </a>
                                    </li>
                                {% endif %}
                                #}{# Render each page number #}{#
                                {% for i in 1..maxPages %}
                                    <li class="page-item {% if i == thisPage %}active{% endif%} ">
                                        <a class="page-link" href="{{ path('search_fronted', {page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}

                                #}{# `»` arrow #}{#
                                {%if thisPage < maxPages %}
                                    <li class="page-item next">
                                        <a class="page-link" href="{{ path('search_fronted', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">
                                            <span class="fa fa-angle-right"></span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}

                    </nav>
                </div>
            </div>#}

            {{ knp_pagination_render(properties) }}

        </div>
    </section>
{% endblock %}