{% extends 'fronted/fronted.html.twig' %}

{% block title %}Buscar Propiedad{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center m-5">Viviendas</h1>

        {{ form_start(form) }}
        <div class="form-row">
            <div class="form-group col">
                {{ form_row(form.sellOrRent) }}
            </div>
            <div class="form-group col">
                {{ form_row(form.bedrooms) }}
            </div>
            <div class="form-group col">
                {{ form_row(form.price) }}
            </div>
            <div class="form-group col">
                {{ form_row(form.typeProperty) }}
            </div>
            <div class="col mt-1">

            <button class="btn btn-success form-control mt-4">
                Buscar
            </button>
            </div>
        </div>


        {{ form_end(form) }}

        <div class="row mb-5">
        {% for property in properties %}
            {% if property.countPropertyContract == 0 %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="{{ path('search_details', {'reference': property[0].reference}) }}" class="prop-entry d-block">
                        <figure>
                            {% if property[0].rateHousing.image.first  %}
                                <img class="img-fluid" src="{{ uploaded_asset(property[0].rateHousing.image.first.imagePath)|imagine_filter('squared_thumbnail_large') }}" alt="">
                            {% else %}
                                <img src="{{ asset('img/logo-erreka.png')|imagine_filter('squared_thumbnail_large') }}" alt="Image" class="img-fluid">
                            {% endif %}
                        </figure>
                        <div class="prop-text">
                            <div class="inner">
                                <span class="price rounded">{{ (property[0].charge.price - property.sumPropertyReduction)|number_format  }}€ - {{ property[0].typeProperty.name }}</span>
                                <h3 class="title d-flex">{{ property[0].street.name }} - <b class="text-info">{{ property[0].reason.name }}</b></h3>
                                <p class="location">{{ property[0].street.zone.name }}</p>
                            </div>
                            <div class="prop-more-info">
                                <div class="inner d-flex">
                                    <div class="col">
                                        <span>Area:</span>
                                        <strong>{{ property[0].rateHousing.realMeters }}m<sup>2</sup></strong>
                                    </div>
                                    <div class="col">
                                        <span>Dormitorios:</span>
                                        <strong>{{ property[0].rateHousing.bedrooms }}</strong>
                                    </div>
                                    <div class="col">
                                        <span>Baños:</span>
                                        <strong>{{ property[0].rateHousing.bathrooms }}</strong>
                                    </div>
                                    <div class="col">
                                        <span>Garaje:</span>
                                        <strong>{{ property[0].rateHousing.directGarage ? 'Si' : 'No' }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}

        {% endfor %}
    </div>
    </div>

{% endblock %}