{% extends 'fronted/fronted.html.twig' %}

{% block metadata %}
    <meta name="title" content="{{ property.street.zone.name }} - {{ property.street.name }} - {{ property.commercial.agency.name }}">
    <meta name="description" content="{{ property.typeProperty.name }} de {{ property.rateHousing.realMeters }}m² en {{ property.street.zone.name }} - {{ property.street.name }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
    <meta property="og:title" content="{{ property.typeProperty.name }} de {{ property.rateHousing.realMeters }}m² en {{ property.street.zone.name }} - {{ property.street.name }}">
    <meta property="og:description" content="{{ property.street.zone.name }} - {{ property.street.name }}">
    {% if property.rateHousing.image.first  %}
        <meta property="og:image" content="{{ uploaded_asset(property.rateHousing.image.first.imagePath)|imagine_filter('squared_thumbnail_small') }}">
    {% else %}
        <meta property="og:image" content="{{ asset('img/logo-erreka.png')|imagine_filter('squared_thumbnail_large') }}">
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css" />
{% endblock %}

{% block title %}{{ property.commercial.agency.name }} | {{ property.typeProperty.name }} de {{ property.rateHousing.realMeters }}m² en {{ property.street.zone.name }} - {{ property.street.name }}{% endblock %}

{% block body %}
    {% set sum = 0 %}
    {% for reduction in property.propertyReductions %}
        {% set sum = sum + reduction.price %}
    {% endfor %}
    <main id="main">
        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">
                                {{ property.typeProperty.name }} en {{ property.street.name }}
                            </h1>
                            <span class="color-text-a">
                                {{ property.reason.name }}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                  <a href="{{ path('default') }}">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                  <a href="{{ path('search_fronted') }}">Propiedades</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ property.street.name }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
          </div>
        </section>
        <!-- End Intro Single-->

        <!-- ======= Property Single ======= -->
        <section class="property-single nav-arrow-b">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="compact-gallery">
                            <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">

                                {% for image in property.rateHousing.image if image.rateHousing.id == property.rateHousing.id %}
                                    <div class="carousel-item-b">
                                        <a class="btn btn-link" href="{{ asset(uploaded_asset(image.imagePath)) }}">
                                            <img src="{{ uploaded_asset(image.imagePath) }}" alt="{{ uploaded_asset(image.nameImage) }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row justify-content-between">
                            <div class="col-md-5 col-lg-4">
                                <div class="property-price d-flex justify-content-center foo">
                                    <div class="card-header-c d-flex">
                                        <div class="card-box-ico">
                                            <span class="ion-money">€</span>
                                        </div>
                                        <div class="card-title-c align-self-center">
                                            <h5 class="title-c">
                                            {% if property.charge %}
                                                {{ (property.charge.price - sum)|number_format(0, ',', '.') }} €
                                            {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="property-summary">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="title-box-d section-t4">
                                                <h3 class="title-d">Distribución</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="summary-list">
                                        <ul class="list">
                                            <li class="d-flex justify-content-between">
                                                <strong>Tipo Propiedad:</strong>
                                                <span>{{ property.typeProperty.name }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Estado:</strong>
                                                <span>{{ property.reason.name }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Area:</strong>
                                                <span>{{ property.rateHousing.realMeters }}m
                                                    <sup>2</sup>
                                                </span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Dormitorios:</strong>
                                                <span>{{ property.rateHousing.bedrooms }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Baños:</strong>
                                                <span>{{ property.rateHousing.bathrooms }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>C. Energético:</strong>
                                                <span>{{ property.rateHousing.energyCertificate ? property.rateHousing.energyCertificate.name }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Calefacción:</strong>
                                                <span>{{ property.rateHousing.heating ? property.rateHousing.heating.name : 'Por definir' }}</span>
                                            </li>
                                        </ul>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 section-md-t3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Descripción Propiedad</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="property-description">
                                    <p class="description color-text-a">{{ property.rateHousing.comment }}</p>
                                </div>
                                <div class="row section-t3">
                                    <div class="col-sm-12">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Extras</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="amenities-list color-text-a">
                                     <ul class="list-a no-margin">
                                        <li><strong>Cota Cero: </strong><span>{{ property.rateHousing.zeroDimension ? 'Si' : 'No' }}</span></li>
                                        <li><strong>Balcón: </strong><span>{{ property.rateHousing.balcony ? 'Si' : 'No' }}</span></li>
                                        <li><strong>Garaje Directo: </strong><span>{{ property.rateHousing.directGarage ? 'Si' : 'No' }}</span></li>
                                        <li><strong>Trastero: </strong><span>{{ property.rateHousing.storageRoom ? 'Si' : 'No' }}</span></li>
                                     </ul>
                                </div>
                                <div class="row section-t3">
                                    <div class="col-sm-12">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Edificio</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="amenities-list color-text-a">
                                     <ul class="list-a no-margin">
                                        <li><strong>Ascensor: </strong><span>{{ property.rateHousing.elevator ? 'Si' : 'No' }}</span></li>
                                        <li><strong>Antigüedad: </strong><span>{{ property.rateHousing.antiquity ? 'Si' : 'No' }}</span></li>
                                        <li><strong>Estructura Edificio: </strong><span>{{ property.rateHousing.buildingStructure ? property.rateHousing.buildingStructure.name : 'Por definir' }}</span></li>
                                        <li><strong>Gasto Comunidad: </strong><span>{{ property.rateHousing.communityExpenses|number_format(0, ',', '.') }}€</span></li>
                                     </ul>
                                </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                    <div class="row section-t3">
                        <div class="col-sm-12">
                            <div class="title-box-d">
                                <h3 class="title-d">Contacto Agente</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-lg-4">
                        <img src="{{ asset('img/agentes.png') }}" alt="Agentes" class="img-fluid">
                      </div>
                      <div class="col-md-6 col-lg-4">
                        <div class="property-agent">
                          <h4 class="title-agent">{{ property.commercial.fullName }}</h4>
                          {#<p class="color-text-a">
                            descripcion agente
                          </p>#}
                          {% set message = 'Hola, quería más información de esta propiedad. ' %}
                          <ul class="list-unstyled">
                            <li class="d-flex justify-content-between">
                              <strong>WhatsApp:</strong>
                              <span class="color-text-a"><a target="_blank" href="https://wa.me/{{ 34 ~ property.commercial.mobile }}?text={{ message }}{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}"><i class="fab fa-whatsapp text-success"></i> {{ property.commercial.mobile }}</a></span>
                            </li>
                            <li class="d-flex justify-content-between">
                              <strong>Agencia:</strong>
                              <span class="color-text-a">{{ property.commercial.agency }}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script>
    baguetteBox.run('.compact-gallery', {
        animation: 'slideIn',
    });
    </script>
{% endblock %}