{% extends 'fronted/fronted.html.twig' %}

{% block metadata %}
    <meta name="title" content="Vendemos tu piso antes de 90 días | Erreka Inmobiliaria - La Peña">
    <meta name="description" content="¡Vende tu inmueble al mejor precio y en poco tiempo! Tasamos tu vivienda, gestionar visitas, negociar su precio según tus intereses y te asesoramos legalmente durante todo el proceso de compra.">
    <meta name="keywords" content="Vender pisos Bilbao, Vender mi piso en Bilbao, Inmobiliaria en Bilbao.">
    <meta name="author" content="errekainmobiliaria.com">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
    <meta property="og:title" content="Vendemos tu piso antes de 90 días | Erreka Inmobiliaria - La Peña">
    <meta property="og:description" content="¡Vende tu inmueble al mejor precio y en poco tiempo! Tasamos tu vivienda, gestionar visitas, negociar su precio según tus intereses y te asesoramos legalmente durante todo el proceso de compra.">
    <meta property="og:image" content="{{ asset('img/logo-erreka.png')|imagine_filter('squared_thumbnail_large') }}">
{% endblock %}

{% block title %} Vendemos tu piso antes de 90 días | Erreka Inmobiliaria - La Peña {% endblock %}

{% block body %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">¡Vendemos tu vivienda antes de 90 días!</h1>
                            <span class="color-text-a">Garantizamos la venta de tu inmueble en poco tiempo y al mejor precio.</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('homepage') }}">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    ¿Quieres vender?
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <section class="agent-single">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="agent-avatar-box">
                                    <img src="{{ asset('img/sell/agencias.jpg') }}" alt="3 Agencias" class="agent-avatar img-fluid">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="agent-info-box">
                                    <div class="agent-title">
                                        <div class="title-box-d">
                                            <h3 class="title-d">3 agencias en
                                                <br> Bilbao</h3>
                                        </div>
                                    </div>
                                    <div class="agent-content mb-3">
                                        <p class="content-d color-text-a">
                                            Distribuidas en zonas cercanas para obtener mayor sinergia de trabajo y mejores resultados en beneficio de nuestros clientes.
                                        </p>
                                        <p class="content-d color-text-a">
                                            Contamos con un amplio equipo de expertos en soluciones inmobiliarias.
                                        </p>
                                        <div class="info-agents color-a">
                                            <h5><a href="{{ path('about_us') }}">Erreka <span class="text-muted">Inmobiliaria</span></a></h5>
                                            <h5><a href="{{ path('about_us') }}">Erreka Garrido <span class="text-muted">Inmobiliaria</span></a></h5>
                                            <h5><a href="{{ path('about_us') }}">Asesoría <span class="text-muted">Garrido</span></a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 section-t8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="agent-info-box">
                                    <div class="agent-title">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Valoración real de
                                                <br>tu vivienda.</h3>
                                        </div>
                                    </div>
                                    <div class="agent-content mb-3">
                                        <p class="content-d color-text-a">
                                            Establecer el <strong>precio real de tu propiedad </strong> puede garantizarte la venta en poco tiempo.
                                        </p>
                                        <p class="content-d color-text-a"><strong>¡Cuanto más deprisa vendas, mejor!</strong></p>
                                        <p class="content-d color-text-a">Nosotros tasamos tu vivienda según las ventas realizadas en la zona del inmueble, el mercado inmobiliario y las expectativas de la demanda.</p>
                                        <p class="content-d color-text-a">Te ayudamos a poner el <strong>precio exacto a tu vivienda.</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="agent-avatar-box">
                                    <img src="{{ asset('img/sell/valoracion.jpg') }}" alt="Valoración vivienda" class="agent-avatar img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 section-t8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="agent-avatar-box">
                                    <img src="{{ asset('img/sell/acondicionar.jpg') }}" alt="Acondicionar su vivienda para la venta" class="agent-avatar img-fluid bg-image">
                                </div>
                            </div>
                            <div class="col-md-6 bg-light">
                                <div class="agent-info-box">
                                    <div class="agent-title">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Vivienda decorada,
                                                <br> venta garantizada</h3>
                                        </div>
                                    </div>
                                    <div class="agent-content mb-3">
                                        <p class="content-d color-text-a">
                                            Acondionamos tu vivienda para que sea atractiva para el mayor número de compradores, acelerando el proceso de venta y al mejor precio.
                                        </p>
                                        <p class="content-d color-text-a"><strong>¡Aumenta el valor de tu propiedad y vende en poco tiempo!</strong></p>
                                        <p class="content-d color-text-a">Incluimos reportaje <strong>fotográfico profesional y tour virtual de tu vivienda</strong> para mostrar tu propiedad en distintos portales inmobiliarios.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 section-t8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="agent-info-box">
                                    <div class="agent-title">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Muchos compradores
                                                <br>buscan tu propiedad.</h3>
                                        </div>
                                    </div>
                                    <div class="agent-content mb-3">
                                        <p class="content-d color-text-a">
                                            Nuestro potente plan de marketing nos permite <strong>aumentar la visibilidad de tu vivienda</strong> es más de 15 portales inmobiliarios, incluyendo <strong>Idealista, Fotocasa y nuestra página web.</strong>
                                        </p>
                                        <p class="content-d color-text-a"><strong>¡Visibilidad frente a tu competencia!</strong></p>
                                        <p class="content-d color-text-a">Además, contamos con una amplia base de datos de potenciales compradores interesados en inmuebles en venta en Bilbao.</p>
                                        <p class="content-d color-text-a">Tirada de 15.000 flyers buzoneados mensualmente en distintas zonas de Bilbao y alrededores.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 section-md-t3">
                                <div class="agent-avatar-box">
                                    <img src="{{ asset('img/sell/buscarcompradores.jpg') }}" alt="Buscar Compradores" class="agent-avatar img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 section-t8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="agent-avatar-box">
                                    <img src="{{ asset('img/sell/gestionardocumentacion.jpg') }}" alt="Gestionar" class="agent-avatar img-fluid">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="agent-info-box">
                                    <div class="agent-title">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Gestionamos toda la
                                                <br>documentación</h3>
                                        </div>
                                    </div>
                                    <div class="agent-content mb-3">
                                        <p class="content-d color-text-a">
                                            Resolvemos al comprador todas las dudas referentes a la compra de tu inmueble.
                                        </p>
                                        <p class="content-d color-text-a">
                                            Además, gestionamos acuerdos con entidades bancarias para evitar dificultades en la concesión de hipotecas.
                                        </p>
                                        <p class="content-d color-text-a"><strong>¡Ayudamos al comprador para evitar contratiempos!</strong></p>
                                        <p class="content-d color-text-a">Gestionamos la documentación necesaria para ir a la notaría con las mejores garantías.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 section-t8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="agent-info-box ">
                                    <div class="agent-title">
                                        <div class="title-box-d">
                                            <h3 class="title-d">¿Vendes tu vivienda?</h3>
                                        </div>
                                    </div>
                                    <div class="agent-content mb-3">
                                        <p class="content-d color-text-a"><strong>¡Tenemos 16 años de experiencia en hacerlo!</strong></p>
                                        <lu>
                                            <li>Personal Shopper para tu inmueble</li>
                                            <li>Te mantenemos informado</li>
                                            <li>Gestionamos toda la documentación necesaria</li>
                                        </lu>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 bg-light">

                                <div class="agent-info-box ">
                                    <div class="agent-title">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Te llamamos</h3>
                                        </div>
                                    </div>
                                    <div class="agent-content">
                                        <p class="content-d color-text-a">Deja tus datos y uno nuestros agentes inmobiliarias se pondrá en contacto contigo.</p>

                                        {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <button class="btn btn-info btn-b float-right">Enviar Mensaje</button>
                                        {{ form_end(form) }}

                                        {{ include('admin/_flash_messages.html.twig') }}

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}