{% extends 'fronted/fronted.html.twig' %}

{% block title %}Servicios{% endblock %}

{% block body %}
    <div class="container marketing mt-3">
        <h1 class="text-center">Servicios</h1>
        <p class="mb-3 text-center">Vendemos tu vivienda en 90 días</p>

        <!-- Three columns of text below the carousel -->
        <div class="row text-center mt-5">
            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100 border-0">
                    <img class="card-img-top m-auto" style="width: 100px !important;" src="{{ asset('img/casa-lineal.png') }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Título</h4>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100 border-0">
                    <img class="card-img-top m-auto" style="width: 100px !important;" src="{{ asset('img/propiedad-tiempo-lineal.png') }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100 border-0">
                    <img class="card-img-top m-auto" style="width: 100px !important;" src="{{ asset('img/calidad-lineal.png') }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100 border-0">
                    <img class="card-img-top m-auto" style="width: 100px !important;" src="{{ asset('img/casa-lineal-info.png') }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Venta rápida</h4>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Valoramos vivienda</li>
                            <li>Fotos vivienda</li>
                            <li>Soporte personalizado</li>
                            <li>Help center access</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100 border-0">
                    <img class="card-img-top m-auto" style="width: 100px !important;" src="{{ asset('img/contrato-lineal.png') }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100 border-0">
                    <img class="card-img-top m-auto" style="width: 100px !important;" src="{{ asset('img/equipo-lineal.png') }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

{% endblock %}