{% extends 'fronted/fronted.html.twig' %}

{% block title %}¿Quieres vender?{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>¡Vendemos tu vivienda antes de 90 días!</h1>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- START THE FEATURETTES -->
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">3 <span class="text-muted">AGENCIAS</span></h2>
                    <p class="lead">Distribuidas en zonas cercanas y estratégicas para hacer una mayor sinergia entre ellas y obtener un mayor beneficio para el cliente. </p>
                    <p>Nos podrás encontrar en:</p>
                    <p><strong>Zamacola 47</strong></p>
                    <p><strong>Zamacola 65</strong></p>
                    <p><strong>Bilbao la Vieja 1</strong></p>

                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400px" height="400px" src="{{ asset('img/casa-lineal-info.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">VALORACIÓN <span class="text-muted">REAL Y EXACTA</span></h2>
                    <p class="lead">Valoración mas exacta de su vivienda gracias a las ventas realizadas en la zona de similares características en los últimos meses.</p>
                    <p><strong>¡Cuanto más deprisa vendas, mejor!</strong></p>
                    <p>Las estadísticas dicen que las casa que se venden mas deprisa son las que tienen el precio adecuado desde el primer día. Yo te daré la información que te ayudara a poner tu casa el precio exacto.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400px" height="400px" src="{{ asset('img/casa-lineal-info.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7">
                <h2 class="featurette-heading">ACONDICIONAR <span class="text-muted">SU VIVIENDA PARA LA VENTA</span></h2>
                <p class="lead">Reportaje fotográfico profesional incluyendo un tour virtual de su vivienda. </p>
                <p><strong>¡La primera impresión es muy importante!</strong></p>
                <p>Decoración (Home Staging) y preparación de la vivienda para que los compradores se vean viviendo en ella.</p>


            </div>
                <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400px" height="400px" src="{{ asset('img/casa-lineal-info.png') }}" alt="">
            </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">LLEGAR <span class="text-muted">AL MAYOR NÚMERO DE COMPRADORES</span></h2>
                <p class="lead">Potente plan de marketing que permite una privilegiada visibilidad de su vivienda respecto a otros inmuebles ofertados en el ismo mercado.</p>
                <p>Mas de 15 portales inmobiliarios incluyendo los principales que son Idealista y Fotocasa, además de nuestra página web.</p>
                <p><strong>Tirada de 15.000 flyers buzoneados mensualmente en los barrios donde estamos.</strong></p>
                <p>Cruce con potenciales compradores de nuestra amplia base de datos.</p>
            </div>
                <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400px" height="400px" src="{{ asset('img/casa-lineal-info.png') }}" alt="">
            </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7">
            <h2 class="featurette-heading">INFORMACIÓN <span class="text-muted">CONSTANTE AL PROPIETARIO</span></h2>
            <p class="lead">Reuniones personales con cada propietario y contacto telefónico frecuento de las gestiones referentes a su vivienda. Informes del trabajo realizado.</p>
            <p><strong>Información de las visitas tanto antes como después de las mismas.</strong></p>
        </div>
                <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px" src="{{ asset('img/casa-lineal-info.png') }}" alt="">
        </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">GESTIONAR <span class="text-muted">TODA LA DOCUMENTACIÓN</span></h2>
            <p class="lead">Resolver al comprador todas las dudas referentes a la compra de la vivienda. Acuerdo con entidades bancarias para la financiación de los compradores que tuvieran dificultades para la concesión de la hipoteca.</p>
            <p><strong>Gestionar toda la documentación para ir a la notaria con las mejores garantías.</strong></p>
            <p>Ofertas de compradores por escrito para una mayor tranquilidad.</p>
        </div>
                <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px" src="{{ asset('img/casa-lineal-info.png') }}" alt="">
        </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7">
            <h2 class="featurette-heading">PERSONAL <span class="text-muted">SHOPPER</span></h2>
            <p class="lead">Agente exclusivo con un máximo de 10 viviendas en cartera el cual le representa en todo momento, defendiendo sus intereses y gestionando sus ofertas.</p>
            <p><strong>Nuestra área de trabajo es el barrio de la Peña, la zona de Bilbao la Vieja y Casco Viejo.</strong></p>
        </div>
                <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px" src="{{ asset('img/casa-lineal-info.png') }}" alt="">
        </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

{% endblock %}