{% extends 'base.html.twig' %}

{% block body %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('booking_calendar') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3"> {{ app.user.agency.name }} {#<sup>2</sup>#}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
{#
            <div class="sidebar-heading">
                Resumen
            </div>
#}

            <!-- Nav Item - Dashboard -->
            <li class="nav-item {% if app.request.get('_route') == 'booking_calendar' %}active{% endif %}">
                <a class="nav-link" href="{{ path('booking_calendar') }}">
                    {#        <a class="nav-link" href="#">#}
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>Agenda</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNotice" aria-expanded="true" aria-controls="collapseNotice">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Noticias</span>
                </a>
                <div id="collapseNotice" class="collapse
                {% if
                    app.request.get('_route') == 'property_index' or
                    app.request.get('_route') == 'property_to_developer_index'
                %}show{% endif %}" aria-labelledby="headingNotice" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"></h6>
                        <a class="collapse-item {% if app.request.get('_route') == 'property_index' %}active{% endif %}" href="{{ path('property_index') }}">Noticias</a>
                        <a class="collapse-item {% if app.request.get('_route') == 'property_to_developer_index' %}active{% endif %}" href="{{ path('property_to_developer_index') }}">Noticias a Desarrollar</a>
                    </div>
                </div>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'list_rate_housing_index' %}active{% endif %}">
                <a class="nav-link" href="{{ path('list_rate_housing_index') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Valoraciones</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCharge" aria-expanded="true" aria-controls="collapseCharge">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Encargos</span>
                </a>
                <div id="collapseCharge" class="collapse
                {% if
                    app.request.get('_route') == 'list_charge_agency'
                %}show{% endif %}" aria-labelledby="headingCharge" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"></h6>
                        {% for agency in agencies %}
                            <a class="collapse-item" href="{{ path('list_charge_agency', {'id': agency.id }) }}">{{ agency.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
{#            <li class="nav-item {% if app.request.get('_route') == 'list_charge_index' %}active{% endif %}">
                <a class="nav-link" href="{{ path('list_charge_index') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Exclusivas</span>
                </a>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'list_authorization_index' %}active{% endif %}">
                <a class="nav-link" href="{{ path('list_authorization_index') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Autorizaciones</span>
                </a>
            </li>#}
            <li class="nav-item {% if app.request.get('_route') == 'list_proposal_index' %}active{% endif %}">
                <a class="nav-link" href="{{ path('list_proposal_index') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>En Trámite</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClient" aria-expanded="true" aria-controls="collapseClient">
                    <i class="fas fa-users"></i>
                    <span>Clientes</span>
                </a>
                <div id="collapseClient" class="collapse
                {% if
                    app.request.get('_route') == 'client_sell_index' or
                    app.request.get('_route') == 'client_rent_index'
                %}show{% endif %}" aria-labelledby="headingClient" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"></h6>
                        <a class="collapse-item {% if app.request.get('_route') == 'client_sell_index' %}active{% endif %}" href="{{ path('client_sell_index') }}">Comprar</a>
                        <a class="collapse-item {% if app.request.get('_route') == 'client_rent_index' %}active{% endif %}" href="{{ path('client_rent_index') }}">Alquiler</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVisit" aria-expanded="true" aria-controls="collapseVisit">
                    <i class="fas fa-users"></i>
                    <span>Visitas</span>
                </a>
                <div id="collapseVisit" class="collapse
                {% if
                    app.request.get('_route') == 'visit_sell_index' or
                    app.request.get('_route') == 'visit_rent_index'
                %}show{% endif %}" aria-labelledby="headingVisit" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"></h6>
                        <a class="collapse-item {% if app.request.get('_route') == 'visit_sell_index' %}active{% endif %}" href="{{ path('visit_sell_index') }}">Visitas Comprar</a>
                        <a class="collapse-item {% if app.request.get('_route') == 'visit_rent_index' %}active{% endif %}" href="{{ path('visit_rent_index') }}">Visitas Alquiler</a>
                    </div>
                </div>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'list_rented_index' %}active{% endif %}">
                <a class="nav-link" href="{{ path('list_rented_index') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Alquilado</span>
                </a>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'note_commercial_index' %}active{% endif %}">
                <a class="nav-link" href="{{ path('note_commercial_index') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Recados</span>
                </a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Administración
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Admin</span>
                    </a>
                    <div id="collapseTwo" class="collapse
                {% if
                        app.request.get('_route') == 'agency_index' or
                        app.request.get('_route') == 'user_index' or
                        app.request.get('_route') == 'owner_index' or
                        app.request.get('_route') == 'zone_index' or
                        app.request.get('_route') == 'reason_index' or
                        app.request.get('_route') == 'situation_index' or
                        app.request.get('_route') == 'note_new_index' or
                        app.request.get('_route') == 'type_property_index'
                    %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Custom Components:</h6>
                            <a class="collapse-item {% if app.request.get('_route') == 'agency_index' %}active{% endif %}" href="{{ path('agency_index') }}">Empresas </a>
                            <a class="collapse-item {% if app.request.get('_route') == 'user_index' %}active{% endif %}" href="{{ path('user_index') }}">Usuarios</a>
                            {#                        <a class="collapse-item {% if app.request.get('_route') == 'news_index' %}active{% endif %}" href="{{ path('news_index') }}">Noticias</a>#}
                            <a class="collapse-item {% if app.request.get('_route') == 'note_new_index' %}active{% endif %}" href="{{ path('note_new_index') }}">Nota Noticia</a>
                            <a class="collapse-item {% if app.request.get('_route') == 'zone_index' %}active{% endif %}" href="{{ path('zone_index') }}">Zonas</a>
                            <a class="collapse-item {% if app.request.get('_route') == 'situation_index' %}active{% endif %}" href="{{ path('situation_index') }}">Situaciones</a>
                            <a class="collapse-item {% if app.request.get('_route') == 'reason_index' %}active{% endif %}" href="{{ path('reason_index') }}">Motivo</a>
                            <a class="collapse-item {% if app.request.get('_route') == 'type_property_index' %}active{% endif %}" href="{{ path('type_property_index') }}">Tipo Propiedad</a>
                            <a class="collapse-item {% if app.request.get('_route') == 'orientation_index' %}active{% endif %}" href="{{ path('orientation_index') }}">Orientación</a>
                        </div>
                    </div>
                </li>


                <li class="nav-item {% if app.request.get('_route') == 'list_historical_client_index' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('list_historical_client_index') }}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Histórico cliente</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHistorical" aria-expanded="true" aria-controls="collapseHistorical">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Histórico Encargo</span>
                    </a>
                    <div id="collapseHistorical" class="collapse
                {% if
                        app.request.get('_route') == 'list_historical_index'
                    %}show{% endif %}" aria-labelledby="headingHistorical" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header"></h6>
                            {% for situation in situations %}
                                {% for reason in situation.reason %}
                                    {% if reason.name != 'Alquilado' %}
                                        <a class="collapse-item" href="{{ path('list_historical_index', {'id': reason.id}) }}">{{ reason.name }}</a>

                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Informes</span>
                    </a>
                </li>
            {% endif %}


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="{{ path('search') }}" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" name="search" placeholder="Buscar nombre o móvil" aria-label="Buscar" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        {% block alerts %}
                            {{ render_esi(controller('App\\Controller\\DefaultController::notes')) }}
                            {{ render_esi(controller('App\\Controller\\DefaultController::noticestodeveloper')) }}
                            {{ render_esi(controller('App\\Controller\\DefaultController::notices')) }}
                            {{ render_esi(controller('App\\Controller\\DefaultController::charges')) }}
                            {{ render_esi(controller('App\\Controller\\DefaultController::clients')) }}
                        {% endblock %}

{#                        {% block notes %}#}
{#                            {{ render_esi(controller('App\\Controller\\NoteCommercialController::clients')) }}#}
{#                        {% endblock %}#}


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">

                                    {% if app.user.imageFilename %}
                                        <img class="img-profile" src="{{ uploaded_asset(app.user.imagePath)|imagine_filter('squared_thumbnail_small') }}" alt="{{ app.user.fullName }}">
                                    {% else %}
                                        <i class="fas fa-user"></i>
                                    {% endif %}
                                    {{ app.user.fullName }}
                                </span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
{#                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>#}
{#                                <a class="dropdown-item" href="#">#}
{#                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>#}
{#                                    Nueva Noticia#}
{#                                </a>#}
{#                                <a class="dropdown-item" href="#">#}
{#                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>#}
{#                                    Nuevo Pedido#}
{#                                </a>#}
{#                                <div class="dropdown-divider"></div>#}
                                <a class="dropdown-item" href="{{ path('app_logout') }}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
{#                                <a class="dropdown-item" href="{{ path('app_logout') }}" >#}
{#                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>#}
{#                                    Logout#}
{#                                </a>#}
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {{ include('admin/_flash_messages.html.twig') }}

                    {% block content %}{% endblock %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Erreka 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Seguro que quieres cerrar sesión?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{{ path('app_logout') }}">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}