{% extends 'admin/layout.html.twig' %}

{% block title %} Listado noticias {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTable') }}
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {#        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            <h1 class="h3 mb-4 text-gray-800 float-left">Listado de noticias</h1>
            <a class="btn btn-success float-right" href="{{ path('news_new') }}">Crear Noticia</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Zona</th>
                            <th>Asesor</th>
                            <th>Situación</th>
{#                            <th>Motivo</th>#}
                            <th>Calle</th>
                            <th>Portal</th>
                            <th>Piso</th>
                            <th>Propietario</th>
                            <th>Móvil</th>
                            <th>Teléfono</th>
                            <th>Precio</th>
                            <th>Comentario</th>
                            <th>Ver</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for new in news %}
                        <tr>
                            <td>
                                <a href="{{ path('zone_show', {'id': new.zone.id}) }}">
                                    {{ new.zone }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('user_show', {'id': new.commercial.id}) }}">
                                    {{ new.commercial.firstName }} {{ new.commercial.lastName }}
                                </a>
                            </td>
                            <td> {{ new.situation }} </td>
{#                            <td> {{ new.reason }} </td>#}
                            <td>
                                {% if new.zone.streets %}
                                    {{ new.zone.streets.count }}
                                {% endif %}
                            </td>
                            <td>{{ new.portal }}</td>
                            <td>{{ new.floor }}</td>
                            <td>
                                {{ new.firstName }} {{ new.lastName }}
                            </td>
                            <td>{{ new.mobile }} </td>
                            <td>{{ new.phone }} </td>
                            <td>{{ new.price|number_format(2, '.', ',') }} €</td>
                            <td>{{ new.comment }}</td>
                            <td>
                                {{ include('admin/_show_link.html.twig', {'route': 'news_show', 'id': new.id }) }}
                                {#<a class="btn btn-primary btn-circle" href="{{ path('news_show', {'id': new.id}) }}"><i class="fas fa-eye"></i></a>#}
                            </td>
                            <td>
                                {{ include('admin/_edit_link.html.twig', {'route': 'news_edit', 'id': new.id }) }}
                            </td>
                            <td>
                                {{ include('admin/_delete_form.html.twig', {'route': 'news_delete', 'entity': new, 'count': 0}) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="13">No hay datos</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
