{% extends 'admin/layout.html.twig' %}

{% block title %} Listado noticias {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTable') }}
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {#        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            <h1 class="h3 mb-4 text-gray-800 float-left">Listado de noticias</h1>
            <a class="btn btn-success float-right" href="{{ path('news_new') }}">Crear Noticia</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Zona</th>
                            <th>Comercial</th>
                            <th>Propietario</th>
                            <th>Móvil</th>
                            <th>Teléfono</th>
                            <th>Precio</th>
                            <th>Comentario</th>
                            <th>Ver</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for news in news %}
                        <tr>
                            <td>
                                <a href="{{ path('zone_show', {'id': news.zone.id}) }}">
                                    {{ news.zone }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('user_show', {'id': news.commercial.id}) }}">
                                    {{ news.commercial }}
                                </a>
                            </td>
                            <td>
                                {{ news.firstName }} {{ news.lastName }}
                            </td>
                            <td>{{ news.mobile }} </td>
                            <td>{{ news.phone }} </td>
                            <td>{{ news.price|number_format(2, '.', ',') }} €</td>
                            <td>{{ news.comment }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('news_show', {'id': news.id}) }}">Ver</a>
                            </td>
                            <td>
                                <a class="btn btn-info" href="{{ path('news_edit', {'id': news.id}) }}">Editar</a>
                            </td>
                            <td>
                                {{ include('admin/_delete_form.html.twig', {'route': 'news_delete', 'entity': news, 'count': 0}) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">No hay datos</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
