{% extends 'admin/layout.html.twig' %}
{#{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}#}

{% block title %}New News{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-4 text-gray-800 float-left">Crear nueva noticia</h1>
        {#        <a class="btn btn-link float-right" href="{{ path('company_index') }}">Volver a la lista</a>#}
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="row">
{#            <div class="col-lg-2">#}
                {{ form_row(form.firstName) }}
{#            </div>#}
{#            <div class="col-lg-3">#}
                {{ form_row(form.lastName) }}
{#            </div>#}
{#            <div class="col-lg-2">#}
                {{ form_row(form.mobile) }}
{#            </div>#}
{#            <div class="col-lg-2">#}
                {{ form_row(form.phone) }}
{#            </div>#}
{#            <div class="col-lg-2">#}
                {{ form_row(form.email) }}
{#            </div>#}
            {{ form_row(form.zone) }}
            {{ form_row(form.commercial) }}
            {{ form_row(form.price) }}

        </div>

{#        <div class="row">#}
{#            <div class="col-lg-6">#}
{#                {{ form_row(form.zone) }}#}
{#            </div>#}
{#            <div class="col-lg-6">#}
{#                {{ form_row(form.commercial) }}#}
{#            </div>#}
{#        </div>#}
        <hr>
        <div class="row">
            {{ form_row(form.comment) }}
{#            <div class="col-lg-12">#}
{#                {{ form_row(form.price, {#}
{#                    attr: { placeholder: 'Precio' }#}
{#                }) }}#}
{#                {{ form_row(form.comment, {#}
{#                    attr: { placeholder: 'Comentario' }#}
{#                }) }}#}
{#            </div>#}
        </div>
        {#    {% for ow in form.owner %}#}
        {#        {{ form_row(ow.email) }}#}
        {#    {% endfor %}#}

        <button class="btn btn-success float-left">Guardar</button>

        {{ form_end(form) }}
{#            {{ include('admin/_form.html.twig') }}#}

    </div>
</div>


    <a href="{{ path('news_index') }}">back to list</a>
{% endblock %}
