{% extends 'admin/layout.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Editar noticia a desarrollar</h1>
            {#        <a class="btn btn-link float-right" href="{{ path('company_index') }}">Volver a la lista</a>#}
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success m-3">{{ button_label|default('Actualizar') }}</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            {{ include('admin/_back_link.html.twig', {'route': 'news_to_develop'}) }}
        </div>
    </div>
{% endblock %}
