{% extends 'admin/layout.html.twig' %}

{% block title %}Noticia{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {#        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            <h1 class="h3 mb-4 text-gray-800 float-left">Detalles</h1>
            <a class="btn btn-success float-right" href="{{ path('news_new') }}">Crear Noticia</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Precio</th>
                            <td>{{ news.price }}</td>
                        </tr>
                        <tr>
                            <th>Comentario</th>
                            <td>{{ news.comment }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            {{ include('admin/_back_link.html.twig', {'route': 'news_index'}) }}
            {{ include('admin/_edit_link.html.twig', {'route': 'news_edit', 'id': news.id, 'button_label': 'Editar'}) }}
        </div>
    </div>
{% endblock %}
