{% extends 'admin/layout.html.twig' %}

{% block title %}Owner index{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        {#        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
        <h1 class="h3 mb-4 text-gray-800 float-left">Lista de propietarios</h1>
        <a class="btn btn-success float-right" href="{{ path('owner_new') }}">Create new</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First_name</th>
                        <th>Last_name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Mobile</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for owner in owners %}
                    <tr>
                        <td>{{ owner.id }}</td>
                        <td>{{ owner.firstName }}</td>
                        <td>{{ owner.lastName }}</td>
                        <td>{{ owner.email }}</td>
                        <td>{{ owner.phone }}</td>
                        <td>{{ owner.mobile }}</td>
                        <td>
                            <a href="{{ path('owner_show', {'id': owner.id}) }}">show</a>
                            <a href="{{ path('owner_edit', {'id': owner.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
