{% extends 'admin/layout.html.twig' %}

{% block title %}Ver {{ owner.firstName }} {{ owner.lastName }}{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-4 text-gray-800 float-left">Detalles Propietario</h1>
        <a class="btn btn-success float-right" href="{{ path('owner_new') }}">Crear Propietario</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
{#                    <td>Acciones</td>#}
{#                    <td>#}
{#                        <a class="btn btn-info float-left mr-1" href="{{ path('owner_edit', {'id': owner.id}) }}">Editar</a>#}
{#                        {% if owner.news.count > 0 %}#}
{#                            <div class="alert alert-warning float-left">#}
{#                                Propietario en uso#}
{#                            </div>#}
{#                        {% else %}#}
{#                            {{ include('admin/_delete_form.html.twig', {'route': 'owner_delete', 'entity': owner, 'count' : owner.news.count}) }}#}
{#                        {% endif %}#}
{#                    </td>#}
{#                </tr>#}
                <tr>
                    <th>Nombres</th>
                    <td>{{ owner.firstName }}</td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td>{{ owner.lastName }}</td>
                </tr>
                <tr>
                    <th>Correo</th>
                    <td>{{ owner.email }}</td>
                </tr>
                <tr>
                    <th>Teléfono</th>
                    <td>{{ owner.phone }}</td>
                </tr>
                <tr>
                    <th>Móvil</th>
                    <td>{{ owner.mobile }}</td>
                </tr>
                <tr>
                    <th>Noticia</th>
                    <td>
                        <ul class="list-group">
                            {% for new in owner.news %}
                                <li class="list-group-item">
                                    <a href="{{ path('news_show', {'id': new.id}) }}">{{ new.price|number_format(2, '.', ',') }} €</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ path('owner_index') }}">Volver a la lista</a>
    </div>
</div>
{% endblock %}