{% extends 'admin/layout.html.twig' %}

{% block title %}Agency index{% endblock %}

{% block content %}
    <h1>Agency index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agency in agencies %}
            <tr>
                <td>{{ agency.id }}</td>
                <td>{{ agency.name }}</td>
                <td>
                    <a href="{{ path('agency_show', {'id': agency.id}) }}">show</a>
                    <a href="{{ path('agency_edit', {'id': agency.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agency_new') }}">Create new</a>
{% endblock %}
