{% extends 'admin/layout.html.twig' %}

{% block title %}Agency index{% endblock %}

{% block content %}
    <h1>Agency index</h1>

    <a class="btn btn-success" href="{{ path('agency_new') }}">Crear agencia</a>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for agency in agencies %}
            <tr>
                <td>{{ agency.id }}</td>
                <td>{{ agency.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('agency_show', {'id': agency.id}) }}">Ver</a>
                    <a class="btn btn-info" href="{{ path('agency_edit', {'id': agency.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
