<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {#        <i class="fas fa-book fa-fw"></i>#}
        <strong>C</strong>
        <!-- Counter - Messages -->
        {% if clientsSells|length + clientsRents|length > 0 %}
            <span class="badge badge-primary badge-counter">{{ clientsSells|length + clientsRents|length }}</span>
        {% endif %}
    </a>
    <!-- Dropdown - Messages -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
        <h6 class="dropdown-header">
            Clientes
        </h6>
        {% if clientsSells|length > 0 %}
            {% for client in clientsSells %}
                <a class="dropdown-item d-flex align-items-center" href="{{ path('client_sell_show', {'id': client.id}) }}">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">{{ client.fullname }} - {{ client.mobile }}</div>
                        <div class="small text-gray-500">
                            Comprar -
                            {% if client.noteClients|length > 0 %}
                                {{ client.noteClients.last.comment }}
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
{#            <a class="dropdown-item text-center small text-gray-500" href="#">ver mas</a>#}

        {% else %}
            <p class="mt-2 text-center small text-gray-500">No hay clientes de compra</p>
        {% endif %}

        {% if clientsRents|length > 0 %}
            {% for client in clientsRents %}
                <a class="dropdown-item d-flex align-items-center" href="{{ path('client_rent_show', {'id': client.id}) }}">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">{{ client.fullname }} - {{ client.mobile }}</div>
                        <div class="small text-gray-500">
                            Alquiler -
                            {% if client.noteClients|length > 0 %}
                                {{ client.noteClients.last.comment }}
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
            {#            <a class="dropdown-item text-center small text-gray-500" href="#">ver mas</a>#}

        {% else %}
            <p class="mt-2 text-center small text-gray-500">No hay clientes de alquiler</p>
        {% endif %}
    </div>
</li>