<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">{{ note_commercials|length }}</span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            <span class="mr-5">Recados</span>

            <a class="btn btn-success btn-sm ml-5" href="{{ path('note_commercial_new') }}">Crear Recado</a>
        </h6>

        {% if note_commercials|length > 0 %}
            {% for note in note_commercials|slice(0, 5) %}
                <div class="dropdown-item d-flex align-items-center">
                    <div class="mr-3">
                        {#                    <a class="btn btn-circle btn-danger" href="{{ path('note_delete', { 'id': note.id }) }}"><i class="fa fa-trash"></i></a>#}
                        <form method="post" action="{{ path('note_commercial_delete', {'id': note.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este elemento?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
                            <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                    <div>
                        <div class="small text-gray-500">{{ note.noticeDate|date('d-m-Y') }} - {{ note.commercial.fullName }}</div>
                        {{ note.note }}
                    </div>
                </div>
            {% endfor %}
                <a class="dropdown-item text-center small text-gray-500" href="{{ path('note_commercial_index') }}">Ver todas las notas</a>
            {% else %}
                <p class="mt-2 text-center small text-gray-500">No hay recados</p>
        {% endif %}
    </div>
</li>