{% extends 'admin/layout.html.twig' %}

{% block title %}Editar Cliente{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Editar Pedido</h6>
                </div>
                <div class="card-body">
                    {#    {{ include('admin/client/_form.html.twig', {'button_label': 'Actualizar'}) }}#}
                    {{ form_start(form) }}
                    <div class="form-group row">
                        <div class="col-md-auto">{{ form_row(form.created) }}</div>
                        <div class="col-md-auto">{{ form_row(form.commercial) }}</div>
                        <div class="col-md-auto">{{ form_row(form.typeProperty) }}</div>
                        <div class="col-md-auto">{{ form_row(form.clientStatus) }}</div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-auto">{{ form_row(form.full_name) }}</div>
                        <div class="col-md-auto">{{ form_row(form.mobile) }}</div>
                        <div class="col-md-auto">{{ form_row(form.phone) }}</div>
                        <div class="col-md-auto">{{ form_row(form.nationality) }}</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">{{ form_row(form.comment) }}</div>
                    </div>
                    <div class="form-group row bg-light text-center">
                        <div class="col-md-12 text-center"><strong>CARACTERÍSTICA VIVIENDA</strong></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-auto">{{ form_row(form.bedrooms) }}</div>
                        <div class="col-md-auto">{{ form_row(form.heating) }}</div>
                        <div class="col-md-auto">{{ form_row(form.orientation) }}</div>
                        <div class="col-md-auto">{{ form_row(form.elevator) }}</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-auto">{{ form_row(form.buildingStructure) }}</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-auto">{{ form_row(form.terrace) }}</div>
                        <div class="col-md-auto">{{ form_row(form.balcony) }}</div>
                        <div class="col-md-auto">{{ form_row(form.direct_garage) }}</div>
                        <div class="col-md-auto">{{ form_row(form.disabled_access) }}</div>
                        <div class="col-md-auto">{{ form_row(form.storage_room) }}</div>
                        <div class="col-md-auto">{{ form_row(form.zero_dimension) }}</div>
                        <div class="col-md-auto">{{ form_row(form.pets) }}</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-auto">{{ form_row(form.price) }}</div>
                        <div class="col-md-auto">{{ form_row(form.income) }}</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-auto">{{ form_row(form.zoneOne) }}</div>
                        <div class="col-md-auto">{{ form_row(form.zoneTwo) }}</div>
                        <div class="col-md-auto">{{ form_row(form.zoneThree) }}</div>
                        <div class="col-md-auto">{{ form_row(form.zone_four) }}</div>
                    </div>

                    <button class="btn btn-success">{{ button_label|default('Actualizar') }}</button>
                    {{ form_end(form) }}
                </div>
                <div class="card-footer">
                    <a class="btn btn-info" href="{{ path('client_rent_show', {'id': client.id}) }}">Ver cliente</a>
                </div>
            </div>
        </div>
    </div>

    {#    <a href="{{ path('client_index') }}">back to list</a>#}
    {#    {{ include('admin/client/_delete_form.html.twig') }}#}
{% endblock %}
