{% extends 'admin/layout.html.twig' %}

{% block title %}Propuestas{% endblock %}

{% block content %}

    {% if client.sellOrRent == true %}
        {{ include('admin/client/_tab_sell.html.twig') }}
    {% else %}
        {{ include('admin/client/_tab_rent.html.twig') }}
    {% endif %}

    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 350px;">
                <div class="col-md-12 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="table-responsive">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                        <tr>
                                            <th>Fecha </th>
                                            <th>Dirección</th>
                                            <th>Precio Actual</th>
                                            <th>Precio Propuesto</th>
                                            <th>Fecha contrato</th>
                                            <th>Fecha escritura</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for proposal in proposals %}
                                            <tr>
                                                <td>{{ proposal.created ? proposal.created|date('d/m/Y') : '' }}</td>
                                                <td>{{ proposal.property.street.name }}, Nº {{ proposal.property.portal }}, {{ proposal.property.floor }}</td>
                                                <td>{{ proposal.property.price|number_format(0, '.', ',') }}€ - Rebajas</td>
                                                <td>{{ proposal.price|number_format(0, '.', ',') }}€</td>
                                                <td>{{ proposal.contract ? proposal.contract|date('d/m/Y') : '' }}</td>
                                                <td>{{ proposal.scriptures ? proposal.scriptures|date('d/m/Y') : '' }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}