{% extends 'admin/layout.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block content %}

    {{ include('admin/client/_tab.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Detalles Pedido</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <th class="text-right">Agente</th>
                                <td>
                                    {% if client.commercial %}
                                        {{ client.commercial.fullName }}
                                    {% endif %}
                                </td>
                                <th class="text-right">Motivo</th>
                                <td>{{ client.reason.name }}</td>
                                <th class="text-right">Tipo Inmueble</th>
                                <td>
                                    {% if client.typeProperty %}
                                        {{ client.typeProperty.name }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-right">Cliente</th>
                                <td>{{ client.fullName }}</td>
                                <th class="text-right">Móvil</th>
                                <td>{{ client.mobile }}</td>
                                <th class="text-right">Teléfono</th>
                                <td>{{ client.phone }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">Comentario</th>
                                <td colspan="5">{{ client.comment }}</td>
                            </tr>
                            <tr>
                                <th class="text-center bg-light" colspan="10">CARACTERÍSTICA VIVIENDA</th>
                            </tr>
                            <tr>
                                <th class="text-right">Habitaciones</th>
                                <td>{{ client.bedrooms }}</td>
                                <th class="text-right">Calefacción</th>
                                <td>
                                    {% if client.heating %}
                                        {{ client.heating.name }}
                                    {% endif %}
                                </td>
                                <th class="text-right">Orientación</th>
                                <td>
                                    {% if client.orientation %}
                                        {{ client.orientation.name }}
                                    {% endif %}
                                </td>
                                <th class="text-right">Ascensor</th>
                                <td>{{ client.elevator ? 'Si' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">Estructura</th>
                                <td>
                                    {% if client.buildingStructure %}
                                        {{ client.buildingStructure.name }}
                                    {% endif %}
                                </td>
                                <th class="text-right">Ingresos</th>
                                <td>{{ client.income|number_format(0, '.', ',') }} </td>
                            </tr>
                            <tr>
                                <th class="text-right">Terraza</th>
                                <td>{{ client.terrace ? 'Si' : 'No' }}</td>
                                <th class="text-right">Balcón</th>
                                <td>{{ client.balcony ? 'Si' : 'No' }}</td>
                                <th class="text-right">Trastero</th>
                                <td>{{ client.storageRoom ? 'Si' : 'No' }}</td>
                                <th class="text-right">Garage Directo</th>
                                <td>{{ client.directGarage ? 'Si' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">Cota Zero</th>
                                <td>{{ client.zeroDimension ? 'Si' : 'No' }}</td>
                                <th class="text-right">Acceso Minusválidos</th>
                                <td>{{ client.disabledAccess ? 'Si' : 'No' }}</td>
                                <th class="text-right">Mascotas</th>
                                <td>{{ client.pets ? 'Si' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">Precio</th>
                                <td>{{ client.price|number_format(0, ',', '.') }}€</td>
                            </tr>
                            <tr>
                                <th class="text-right">Zonas</th>
                                <td>
                                    {% if client.zoneOne %}
                                        {{ client.zoneOne.name }}
                                    {% endif %}

                                    {% if client.zoneTwo  %}
                                        <strong>-</strong> {{ client.zoneTwo.name }}
                                    {% endif %}

                                    {% if client.zoneThree %}
                                        <strong>-</strong> {{ client.zoneThree.name }}
                                    {% endif %}
                                    {% if client.zoneFour %}
                                        <strong>-</strong> {{ client.zoneFour.name }}
                                    {% endif %}
{#                                    {% for zone in client.zone %}#}
{#                                        {{ zone.name }}#}
{#                                    {% endfor %}#}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    {% if client.reason.name == 'Alquiler' %}
                        {{ include('admin/_back_link.html.twig', {'route': 'client_rent_index'}) }}
                    {% endif %}
                    {% if client.reason.name == 'Venta' %}
                        {{ include('admin/_back_link.html.twig', {'route': 'client_sell_index'}) }}
                    {% endif %}

                    {{ include('admin/_edit_link.html.twig', {'route': 'client_edit', 'id': client.id, 'button_label': 'Editar'}) }}

                    <div class="float-right">
                        {{ include('admin/_delete_form.html.twig', {'route': 'client_delete', 'entity': client, 'count': 0}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Notas cliente</h6>
                </div>
                <div class="card-body">
                    <div class="m-2">
                        {#                        {{ include('admin/_form.html.twig', {'form': formVisit}) }}#}
                        {{ form_start(formNoteClient) }}
                        {{ form_widget(formNoteClient) }}
                        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
                        {{ form_end(formNoteClient) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 350px;">
                    <div class="col-md-12 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr>
                                                <th>Fecha </th>
                                                <th>Comentario</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for noteclient in client.noteClients|reverse %}
                                                <tr>
                                                    <td>{{ noteclient.created ? noteclient.created|date('d/m/Y') : '' }}</td>
                                                    <td data-toggle="tooltip" data-placement="top" title="{{ noteclient.comment }}">
                                                        {{ noteclient.comment|slice(0, 100) }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Visitas</h6>
                </div>
                <div class="card-body">
                    <div class="m-2">
                        {#                        {{ include('admin/_form.html.twig', {'form': formVisit}) }}#}
                        {{ form_start(formVisit) }}
                        {{ form_widget(formVisit) }}
                        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
                        {{ form_end(formVisit) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 400px;">
                    <div class="col-md-12 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr>
                                                <th>Fecha visita</th>
                                                <th>Dirección</th>
                                                <th>Precio</th>
                                                <th>Comentario</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for visit in client.visits|reverse %}
                                                <tr>
                                                    <td>{{ visit.visited|date('d/m/Y')}}</td>
                                                    <td>{{ visit.property.street.name }} {{ visit.property.portal }}, {{ visit.property.floor }}</td>
                                                    <td>{{ visit.price|number_format(0, ',', '.') }}€</td>
                                                    <td data-toggle="tooltip" data-placement="top" title="{{ visit.comment }}">
                                                        {{ visit.comment|slice(0, 50) }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{#    <a href="{{ path('client_index') }}">back to list</a>#}
{#    {{ include('admin/client/_delete_form.html.twig') }}#}
{% endblock %}
