{% extends 'admin/layout.html.twig' %}

{% block title %}Client{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h1>Detalles</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ client.id }}</td>
                            </tr>
                            <tr>
                                <th>Full_name</th>
                                <td>{{ client.fullName }}</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>{{ client.price }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ client.email }}</td>
                            </tr>
                            <tr>
                                <th>Mobile</th>
                                <td>{{ client.mobile }}</td>
                            </tr>
                            <tr>
                                <th>Comment</th>
                                <td>{{ client.comment }}</td>
                            </tr>
                            <tr>
                                <th>Created</th>
                                <td>{{ client.created ? client.created|date('Y-m-d') : '' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    {{ include('admin/_edit_link.html.twig', {'route': 'client_edit', 'id': client.id, 'button_label': 'Editar'}) }}
{#                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>#}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary ">Visitas</h6>
                </div>
                <div class="card-body">
                    <div class="m-2">
                        {#                        {{ include('admin/_form.html.twig', {'form': formVisit}) }}#}
                        {{ form_start(formVisit) }}
                        {{ form_widget(formVisit) }}
                        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
                        {{ form_end(formVisit) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 500px;">
                {% for visit in client.visits|reverse %}
                    <div class="col-md-12 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                {{ visit.visited|date('d/m/Y')}} -
                                {{ visit.price|number_format(0, ',', '.') }}€
                                {{ visit.comment }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        No hay visitas
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{#    <a href="{{ path('client_index') }}">back to list</a>#}
{#    {{ include('admin/client/_delete_form.html.twig') }}#}
{% endblock %}
