{% extends 'admin/layout.html.twig' %}

{% block title %}Listado de autorización{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800">Listado de autorizaciones</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-sm table-hover dataTable" id="dataTable" width="100%" cellpadding="0">
                    <thead>
                    <tr>
                        <th>Ref.</th>
                        <th>Asesor</th>
{#                        <th>Zona</th>#}
                        <th>Calle</th>
                        <th>Nº</th>
                        <th>Piso</th>
                        <th>Propietario</th>
                        <th>Móvil</th>
                        <th>Fecha E</th>
                        <th>Fecha C</th>
                        <th>P Enc.</th>
                        <th>P Actual</th>
                        <th>P OK</th>
                        <th>Visitas</th>
                        <th>% Caro</th>
                        <th>Rebaj.</th>
                        <th>Últ. Reb.</th>
                        <th>% Reb.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for authorization in authorizations %}

                                    <tr class="clickable-row" data-href="{{ path('property_charge', {'id': authorization.id, 'idChargeType': authorization.charge.chargeType.id}) }}">
                                    <td>{{ authorization.reference }}</td>
                                    <td>{{ authorization.commercial.fullName }}</td>
                                    <td>{{ authorization.street.name }}</td>
                                    <td>{{ authorization.portal }}</td>
                                    <td>{{ authorization.floor }}</td>
                                    <td>{{ authorization.fullName }}</td>
                                    <td>{{ authorization.mobile }}</td>
                                    <td>{{ authorization.charge.startDate|date('d/m/Y') }}</td>
                                    <td>{{ authorization.charge.endDate|date('d/m/Y') }}</td>
{#                                    <td>#}
{#                                        {% if property.rateHousing %}#}
{#                                            {{ property.rateHousing.bedrooms }}#}
{#                                        {% endif %}#}
{#                                    </td>#}
{#                                    <td>#}
{#                                        {% if property.rateHousing %}#}
{#                                            {{ property.rateHousing.bathrooms }}#}
{#                                        {% endif %}#}
{#                                    </td>#}
                                        <td>{{ authorization.charge.price|number_format(0, ',', '.') }} €</td>
                                        <td>{{ authorization.charge.price }} - </td>
                                        <td>{{ authorization.charge.priceOk|number_format(0, ',', '.') }} €</td>
                                        <td>{{ authorization.visits.count }}</td>
                                        <td></td>
                                        <td>{{ authorization.propertyReductions.count }}</td>
                                        <td>
                                            {% if authorization.propertyReductions is defined %}
                                                {% if authorization.propertyReductions.count > 0 %}
                                                    {{ authorization.propertyReductions.last.price|number_format(0, ',', '.') }} €
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td></td>
                                </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTableJs') }}
{% endblock %}