{% extends 'admin/layout.html.twig' %}

{% block title %}Listado de encargos{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800">Listado de exclusivas</h1>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-sm table-borderless table-sm table-hover dataTable" id="dataTable" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Referencia</th>
                            <th>Asesor</th>
                            <th>Zona</th>
                            <th>Calle</th>
                            <th>Nº</th>
                            <th>Piso</th>
                            <th>Propietario</th>
                            <th>Móvil</th>
                            <th>Fecha E</th>
                            <th>Fecha C</th>
                            <th>P Enc.</th>
                            <th>P Actual</th>
                            <th>P OK</th>
                            <th>Visitas</th>
                            <th>% Caro</th>
                            <th>Rebaj.</th>
                            <th>Últ. Reb.</th>
                            <th>% Reb.</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for exclusive in exclusives %}
                        {% for charge in exclusive.charges %}
                            {% for rateHousing in charge.rateHousing %}
                                {% for property in rateHousing.property %}
                                    <tr class="clickable-row" data-href="{{ path('property_show', {'id': property.id}) }}">
                                    <td>{{ property.reference }}</td>
                                    <td>{{ property.commercial.fullName }}</td>
                                    <td>{{ property.street.zone.name }}</td>
                                    <td>{{ property.street.name }}</td>
                                    <td>{{ property.portal }}</td>
                                    <td>{{ property.floor }}</td>
                                    <td>{{ property.fullName }}</td>
                                    <td>{{ property.mobile }}</td>
                                    <td>{{ charge.startDate|date('d/m/Y') }}</td>
                                    <td>{{ charge.endDate|date('d/m/Y') }}</td>
                                    <td>{{ charge.price|number_format(0, ',', '.') }} €</td>
                                    <td>{{ charge.price }} - </td>
                                    <td>{{ charge.priceOk|number_format(0, ',', '.') }} €</td>
                                    <td>{{ property.visits.count }}</td>
                                    <td></td>
                                    <td>{{ property.propertyReductions.count }}</td>
                                    <td>{{ property.propertyReductions.last.price|number_format(0, ',', '.') }} €</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTableJs') }}
{% endblock %}