{% extends 'admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css" />
{% endblock %}

{% block title %}Listado de encargos{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800">Encargos </h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table-striped table-sm table-hover dataTable" id="dataTableEmpty" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Ref.</th>
                            <th>Agencia</th>
                            <th>Agente</th>
                            <th>Encargo</th>
                            <th>Zona</th>
                            <th>Dirección</th>
                            <th>P. Actual</th>
                            <th>Llaves</th>
                            <th>Fotos</th>
                            {% if agency.id == app.user.agency.id %}
                                <th>Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for exclusive in exclusives %}
                        {% if exclusive.countPropertyContract == 0 %}
                            <tr>
                                    <td>{{ exclusive[0].reference }}</td>
                                    <td>{{ exclusive[0].agency.name }}</td>
                                    <td>{{ exclusive[0].commercial.fullName }}</td>
                                    <td>{{ exclusive[0].charge.chargeType.name }}</td>
                                    <td>{{ exclusive[0].street.zone.name }}</td>
                                    <td>{{ exclusive[0].street.name }}, Nº {{ exclusive[0].portal }}, {{ exclusive[0].floor }}</td>
                                    <td>{{ (exclusive[0].charge.price - exclusive.sumPropertyReduction)|number_format(0, ',', '.') }}€</td>
                                    <td>{{ exclusive[0].charge.stateKeys ? exclusive[0].charge.stateKeys.name : '' }}</td>
                                    <td>
                                        <div class="compact-gallery">
                                            <div class="row">
                                                {% if exclusive[0].rateHousing.image is defined %}
                                                    {% for image in exclusive[0].rateHousing.image %}
                                                        <a class="btn btn-link" href="{{ asset(uploaded_asset(image.imagePath)) }}">
                                                            <img class="img-profile" src="{{ uploaded_asset(image.imagePath)|imagine_filter('squared_thumbnail_super_small') }}" alt="">
                                                        </a>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    {% if exclusive[0].agency.id == app.user.agency.id %}
                                        <td>
                                            <a class="btn btn-info" href="{{ path('property_charge', {'id': exclusive[0].id, 'idChargeType': exclusive[0].charge.chargeType.id}) }}">Ver</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a class="btn btn-primary" href="{{ path('note_commercial_index') }}">Nota</a>
                                        </td>
                                    {% endif %}
                                </tr>
                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.compact-gallery', {
            animation: 'fadeIn',
        });
    </script>
    {{ encore_entry_script_tags('dataTableJs') }}
{% endblock %}