{% extends 'admin/layout.html.twig' %}

{% block title %} Listado propuestas{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800">Trámites </h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table-striped table-sm table-hover dataTable" id="dataTableEmpty" width="100%" cellpadding="0">
                    <thead>
                    <tr>
                        <th>Ref</th>
                        <th>Agente</th>
                        <th>Dirección</th>
                        <th>Propietario</th>
                        <th>Móvil</th>
                        <th>Cliente</th>
                        <th>Móvil</th>
                        <th>Fecha contrato</th>
                        <th>Precio</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for proposal in proposals %}
                            {% if proposal.contract is not empty and proposal.scriptures is empty %}
                                {% if proposal.property.reason.name != 'alquiler' and proposal.contract is empty %}

                                <tr>
                                    <td>{{ proposal.property.reference }}</td>
                                    <td>{{ proposal.property.commercial.fullName }}</td>
                                    <td>{{ proposal.property.street.name }}, N {{ proposal.property.portal }} - {{ proposal.property.floor }}</td>
                                    <td>{{ proposal.property.fullName }}</td>
                                    <td>{{ proposal.property.mobile }}</td>
                                    <td>{{ proposal.client ? proposal.client.fullName : '' }}</td>
                                    <td>{{ proposal.client ? proposal.client.mobile : '' }}</td>
                                    <td>{{ proposal.client.created|date('d/m/Y')}}</td>
                                    <td>{{ proposal.price|number_format(0, ',', '.') }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{{ path('property_charge', {'id': proposal.property.id, 'idChargeType': proposal.property.typeProperty.id}) }}">Ver</a>
                                    </td>
                                </tr>

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTableJs') }}
{% endblock %}