{% extends 'admin/layout.html.twig' %}

{% block title %}Valoraciones{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800">Listado de valoraciones</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table-striped table-sm table-hover dataTable" id="dataTable" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                        <th>Fecha</th>
                        <th>Agente</th>
                        <th>Situación</th>
                        <th>Motivo</th>
                        <th>Zona</th>
                        <th>Dirección</th>
                        <th>Propietario</th>
                        <th>Móvil</th>
                        <th>Precio</th>
                        <th>D</th>
                        <th>B</th>
                        <th>M²</th>
                        <th>A</th>
                        <th>Fotos</th>
                        <th>Comentario</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rateHousing in rateHousings %}
                        {% for property in rateHousing.property %}
                            <tr class="clickable-row" data-href="{{ path('property_rate_housing_new_show', {'id': property.id }) }}">
                                <td>{{ rateHousing.visited|date('d/m/Y') }}</td>
                                <td>{{ property.commercial.fullName }}</td>
                                <td>
                                    {% if property.charge is not empty %}
                                        {{ property.charge.chargeType.name }}
                                    {% endif %}
{#                                    {{ property.reason.situation.name }}#}
{#                                    {% if property.rateHousing %}#}
{#                                        {{ property.rateHousing.bathrooms }}#}
{#                                    {% endif %}#}
                                </td>
                                <td>{{ property.reason.name }}</td>
                                <td>{{ property.street.zone.name }}</td>
                                <td>{{ property.street }}, Nº {{ property.portal }}, {{ property.floor }}</td>
                                <td>{{ property.fullName }}</td>
                                <td>{{ property.mobile }}</td>
                                <td>
                                    {{ property.charge ? property.charge.price|number_format(0, ',', '.') : '' }}€

{#                                    {% if rateHousing.maxPrice is not empty %}
                                        {{ rateHousing.maxPrice|number_format(0, ',', '.') }} €
                                    {% endif %}#}
                                </td>
                                <td>{{ rateHousing.bedrooms }}</td>
                                <td>{{ rateHousing.bathrooms }}</td>
                                <td>{{ rateHousing.realMeters }}</td>
                                <td>{{ rateHousing.elevator ? 'Si' : 'No' }}</td>
{#                                <td>#}
{#                                    {% if rateHousing.heating %}#}
{#                                        {{ rateHousing.heating.name }}#}
{#                                    {% endif %}#}
{#                                </td>#}

                                <td>{{ rateHousing.image.count > 0 ? 'Si' : 'No' }}
                                </td>
                                <td data-toggle="tooltip" data-placement="top" title="{{ rateHousing.comment }}">
                                    {{ rateHousing.comment|slice(0, 25) }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTableJs') }}
{% endblock %}