{% extends 'admin/layout.html.twig' %}

{% block title %}TypeProperty index{% endblock %}

{% block content %}
    <h1>TypeProperty index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Noticias</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for type_property in type_properties %}
            <tr>
                <td>{{ type_property.id }}</td>
                <td>{{ type_property.name }}</td>
                <td>{{ type_property.property.count }}</td>
                <td>
                    <a href="{{ path('type_property_show', {'id': type_property.id}) }}">Ver</a>
                    <a href="{{ path('type_property_edit', {'id': type_property.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_property_new') }}">Create new</a>
{% endblock %}
