{% extends 'admin/layout.html.twig' %}

{% block title %} Propiedad {% endblock %}

{% block content %}
    {% include 'admin/property/type_property/_tab.html.twig' %}
    <div class="row">
        <!-- Content Column -->
        <div class="col-md-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary float-left">Cliente</h6>
                    {#<h6 class="m-0 font-weight-bold text-primary float-right">
                        <a class="btn btn-success" href="">Crear Noticia</a>
                    </h6>#}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th class="text-right">Propietario</th>
                                    <td>{{ property.fullName }}</td>
                                    <th class="text-right">Dirección</th>
                                    <td>{{ property.street.name }}, Nº {{ property.portal }}, {{ property.floor }}</td>
                                    <th class="text-right">Precio Encargo</th>
                                    <td>
                                        {% if property.charge %}
                                            {{ property.charge.price|number_format(0, ',', '.') }} €
                                        {% endif %}
                                    </td>
                                    <th class="text-right">Móvil / Teléfono</th>
                                    <td>{{ property.mobile }} - {{ property.phone }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    {% if chargeType.name == 'Exclusiva' %}
                        {{ include('admin/_back_link.html.twig', {'route': 'list_charge_index'}) }}
                    {% endif %}
                    {% if chargeType.name == 'Autorización' %}
                        {{ include('admin/_back_link.html.twig', {'route': 'list_authorization_index'}) }}
                    {% endif %}

{#                    {{ include('admin/_edit_link.html.twig', {'route': 'property_edit', 'id': property.id, 'button_label': 'Editar'}) }}#}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary ">{{ chargeType.name }} - Referencia: {{ property.reference }}</h6>
                </div>
                <div class="card-body">
                    {% if not property.charge %}
                        {{ form_start(formCharge) }}
                        {{ form_widget(formCharge) }}
                        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
                        {{ form_end(formCharge) }}
                        {% else %}

                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <th class="text-right">Precio Actual</th>
                                        <td>{{ (property.charge.price - sumPropertyReduction)|number_format(0, ',', '.') }} €</td>
                                        <th class="text-right">Precio OK</th>
                                        <td>{{ property.charge.priceOk|number_format(0, ',', '.') }} €</td>
                                        <th class="text-right">% Caro</th>
                                        <td>
                                            {% if property.charge %}
                                                {{ (100-(property.charge.priceOk/(property.charge.price - sumPropertyReduction))*100)|number_format(1, ',', '.') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Fecha Encargo</th>
                                        <td>{{ property.charge.startDate|date('d-m-Y') }}</td>
                                        <th class="text-right">Fecha Fín</th>
                                        <td>{{ property.charge.endDate|date('d-m-Y') }}</td>
                                        <th class="text-right">LLaves</th>
                                        <td>
                                            {% if property.charge.stateKeys %}
                                                {{ property.charge.stateKeys.name }}
                                                {% else %}
                                                No hay selección de llaves
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a class="btn btn-info" href="{{ path('property_charge_edit', {'id': property.charge.id, 'idProperty': property.id }) }}">Editar</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if property.charge %}
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary ">Visitas: {{ property.visits.count }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="m-2">
                            {#                        {{ include('admin/_form.html.twig', {'form': formVisit}) }}#}
                            {{ form_start(formVisit) }}
                            {{ form_widget(formVisit) }}
                            <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
                            {{ form_end(formVisit) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 500px;">
                    <div class="col-md-12 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Fecha</th>
                                            <th>Precio</th>
                                            <th>Nota</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for visit in property.visits|reverse %}
                                            <tr>
                                                <td>{{ visit.client.fullName }}</td>
                                                <td>{{ visit.visited|date('d/m/Y') }}</td>
                                                <td>{{ visit.price|number_format(0, ',', '.') }} €</td>
                                                <td>{{ visit.comment }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary ">Rebajas {{ property.propertyReductions.count }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="m-2">
                            {{ include('admin/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 400px;">
                    <div class="col-md-12 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr>
                                                <th>Fecha de rebaja</th>
                                                <th>Importe rebajado</th>
                                                <th>Último precio</th>
                                                <th>Porcentaje</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for propertyReduction in property.propertyReductions %}
                                                    <tr>
                                                        <td>{{ propertyReduction.reductionDate|date('d-m-Y') }}</td>
                                                        <td>{{ propertyReduction.price }} €</td>
                                                        <td>
{#                                                            {{ propertyReduction.lastPrice }} €#}
                                                            {{ (propertyReduction.property.charge.price - sumPropertyReduction)|number_format(0, ',', '.') }} €
                                                        </td>
                                                        <td>
                                                            {{ propertyReduction.price / propertyReduction.property.charge.price * 100|number_format(0, ',', '.') }} %
{#                                                            {{ propertyReduction.percentage }}%#}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary ">Propuestas {{ property.proposals.count }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="m-2">
                            {{ form_start(formProposal) }}
                            {{ form_widget(formProposal) }}
                            <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
                            {{ form_end(formProposal) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 700px;">
                    <div class="col-md-auto mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                        <tr>
                                            <th>Fecha creación</th>
                                            <th>Cliente</th>
                                            <th>Móvil</th>
                                            <th>Importe</th>
                                            <th>¿Acepta?</th>
                                            <th>Fecha contrato</th>
                                            <th>Fecha escrituras</th>
                                            <th>Acción</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for proposal in property.proposals|reverse %}
                                            <tr>
                                                <td>{{ proposal.created|date('d-m-Y') }}</td>
                                                <td>{{ proposal.client.fullName }}</td>
                                                <td>{{ proposal.client.mobile }}</td>
                                                <td>{{ proposal.price }}€</td>
                                                <td>{{ proposal.agree ? 'Si' : 'No' }}</td>
                                                <td>
                                                    {% if proposal.contract is not null %}
                                                        {{ proposal.contract|date('d-m-Y') }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if proposal.scriptures is not null %}
                                                        {{ proposal.scriptures|date('d-m-Y') }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a class="btn btn-info" href="">Editar</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}