{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="card shadow">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Editar Valoración</h1>
        </div>
        <div class="card-body">
            <div class="col-md-12 text-center">
                <strong>{{ rateHousing.property.first.fullName }} / {{ rateHousing.property.first.street.name }}, Nº {{ rateHousing.property.first.portal }}, {{ rateHousing.property.first.floor }}</strong>
            </div>
            {{ include('admin/property/_form_rate_housing.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
        <div class="card-footer">
{#            {{ include('admin/_back_link.html.twig', {'route': 'property_index'}) }}#}
            <a class="btn btn-info" href="{{ path('property_show', {'id': rateHousing.property.first.id }) }}">Ver noticia</a>
            <a class="btn btn-info" href="{{ path('property_rate_housing_new_show', {'id': rateHousing.property.first.id }) }}">Ver valoración</a>
        </div>
    </div>
{% endblock %}