{% extends 'admin/layout.html.twig' %}

{% block title %}Valoración{% endblock %}

{% block content %}

    {{ include('admin/property/type_property/_tab.html.twig') }}

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card shadow mb-4">
{#                <div class="card-header py-3">#}
{#                    <h6 class="m-0 font-weight-bold text-primary">Valoración</h6>#}
{#                </div>#}
                <div class="card-body">
                    {% if property.rateHousing %}
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th class="text-center bg-light text-dark" colspan="8">VALORACIÓN</th>
                                </tr>
                                <tr>
                                    <th class="text-right">Propietario / Piso</th>
                                    <td colspan="7">{{ property.fullName }} / {{ property.street.name }} {{ property.portal }} {{ property.floor }}</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Comentario Vivienda</th>
                                    <td colspan="7">{{ property.rateHousing.comment }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center bg-light text-dark" colspan="8">INFORME</th>
                                </tr>
                                <tr>
                                    <th class="text-right">Fecha V</th>
                                    <td>{{ property.rateHousing.visited|date('d/m/Y') }}</td>
                                    <th class="text-right">P. Máximo </th>
                                    <td>{{ property.rateHousing.maxPrice }}</td>
                                    <th class="text-right">P. Mínimo</th>
                                    <td>{{ property.rateHousing.minPrice }}</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Dormitorios</th>
                                    <td>{{ property.rateHousing.bedrooms }}</td>
                                    <th class="text-right">Exterior</th>
                                    <td>{{ property.rateHousing.exteriorBedrooms }}</td>
                                    <th class="text-right">Patio/Ciego</th>
                                    <td>{{ property.rateHousing.patioBedrooms }}</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Baños</th>
                                    <td>{{ property.rateHousing.bathrooms }}</td>
                                    <th class="text-right">Exterior</th>
                                    <td>{{ property.rateHousing.exteriorBathrooms }}</td>
                                    <th class="text-right">Estado Baño</th>
                                    <td>
                                        {% if property.rateHousing.bathroomState is not empty %}
                                            {{ property.rateHousing.bathroomState.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-right">Cocina Exterior</th>
                                    <td>{{ property.rateHousing.exteriorCooking ? 'Si' : 'No' }}</td>
                                    <th class="text-right">Estado Cocina</th>
                                    <td>
                                        {% if property.rateHousing.beenCooking is not empty %}
                                            {{ property.rateHousing.beenCooking.name }}
                                        {% endif %}
                                    </td>
                                    <th class="text-right">Metros²</th>
                                    <td>{{ property.rateHousing.realMeters }}</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Orientación</th>
                                    <td>
                                        {% if property.rateHousing.orientation is not empty %}
                                            {{ property.rateHousing.orientation.name }}
                                        {% endif %}
                                    </td>
                                    <th class="text-right">Cert. Energét.</th>
                                    <td>
                                        {% if property.rateHousing.energyCertificate is not empty %}
                                            {{ property.rateHousing.energyCertificate.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-right">Puerta</th>
                                    <td>
                                        {% if property.rateHousing.door is not empty %}
                                            {{ property.rateHousing.door.name }}
                                        {% endif %}
                                    </td>
                                    <th class="text-right">Estado Puerta</th>
                                    <td>
                                        {% if property.rateHousing.doorsState is not empty %}
                                            {{ property.rateHousing.doorsState.name }}
                                        {% endif %}
                                    </td>
                                    <th class="text-right">Estado Suelo</th>
                                    <td>
                                        {% if property.rateHousing.groundState is not empty %}
                                            {{ property.rateHousing.groundState.name }}
                                        {% endif %}
                                    </td>
                                    <th class="text-right">Calefacción</th>
                                    <td>
                                        {% if property.rateHousing.heating is not empty %}
                                            {{ property.rateHousing.heating.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-right">Ventana</th>
                                    <td>
                                        {% if property.rateHousing.window is not empty %}
                                            {{ property.rateHousing.window.name }}
                                        {% endif %}
                                    </td>
                                    <th class="text-right">Estado Ventana</th>
                                    <td>
                                        {% if property.rateHousing.windowsState is not empty %}
                                            {{ property.rateHousing.windowsState.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center bg-light" colspan="8">EXTRAS</th>
                                </tr>
                                <tr>
                                    <th class="text-right">Terraza</th>
                                    <td>{{ property.rateHousing.terrace ? 'Si' : 'No' }}</td>
                                    <th class="text-right">Baño en Suit</th>
                                    <td>{{ property.rateHousing.suitBathroom ? 'Si' : 'No'}}</td>
                                    <th class="text-right">Videoportero</th>
                                    <td>{{ property.rateHousing.videoIntercom ? 'Si' : 'No'}}</td>
                                    <th class="text-right">Trastero</th>
                                    <td>{{ property.rateHousing.storageRoom ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Garaje Directo</th>
                                    <td>{{ property.rateHousing.directGarage ? 'Si' : 'No'}}</td>
                                    <th class="text-right">Acceso Minusválido</th>
                                    <td>{{ property.rateHousing.disabledAccess ? 'Si' : 'No'}}</td>
                                    <th class="text-right">Cota Zero</th>
                                    <td>{{ property.rateHousing.zeroDimension ? 'Si' : 'No'}}</td>

                                </tr>
                                <tr>
                                    <th class="text-center bg-light" colspan="8">EDIFICIO</th>
                                </tr>
                                <tr>
                                    <th class="text-right">Ascensor</th>
                                    <td>{{ property.rateHousing.elevator ? 'Si' : 'No'}}</td>
                                    <th class="text-right">Antigüedad</th>
                                    <td>{{ property.rateHousing.antiquity }} Años</td>
                                    <th class="text-right">Gastos Mensuales Comunidad</th>
                                    <td>{{ property.rateHousing.communityExpenses }} €</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Derrama Pendiente</th>
                                    <td title="{{ property.rateHousing.pendingSpills }}">{{ property.rateHousing.pendingSpills|slice(0, 40) }}</td>
                                    <th class="text-right">Importe derrama Pendiente</th>
                                    <td>{{ property.rateHousing.amountPendingSpills }} €</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Derrama Futura</th>
                                    <td title="{{ property.rateHousing.spillsFuture }}">{{ property.rateHousing.spillsFuture|slice(0, 40) }}</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Administrador</th>
                                    <td>{{ property.rateHousing.administrator }}</td>
                                    <th class="text-right">Teléfono</th>
                                    <td>{{ property.rateHousing.mobileAdministrator }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

{#                        Sistema de Alarma: {{ property.rateHousing.alarmSystem}}#}
{#                        Puerta Automática: {{ property.rateHousing.automaticDoor}}#}
{#                        Aire Acondicionado: {{ property.rateHousing.airConditioning}}#}

                    {% else %}
{#                        {{ include('admin/rate_housing/_form_rate_housing.html.twig', {'form': formRate}) }}#}
                        {{ include('admin/property/_form_rate_housing.html.twig') }}
                    {% endif %}
                </div>
                <div class="card-footer">
{#                    {{ include('admin/_back_link.html.twig', {'route': 'property_index'}) }}#}
                    {% if property.rateHousing %}
                        {{ include('admin/_edit_link.html.twig', {'route': 'property_rate_housing_edit', 'id': property.rateHousing.id, 'button_label': 'Editar'}) }}
                        {% else %}
                            <a class="btn btn-info" href="{{ path('property_show', {'id': property.id }) }}">Ver noticia</a>
                    {% endif %}
                    {% if property.rateHousing %}
                        {% if property.rateHousing.charge is not empty %}
                            <a class="btn btn-primary" href="{{ path('property_charge', {'id': property.id, 'idChargeType': property.rateHousing.charge.chargeType.id }) }}">{{ property.rateHousing.charge.chargeType.name }}</a>
                        {% else %}
                            {% for typeCharge in typeCharges %}
                                <a class="btn btn-primary" href="{{ path('property_charge', {'id': property.id, 'idChargeType': typeCharge.id }) }}">{{ typeCharge.name }}</a>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
{#                    <a href="{{ path('property_rate_housing_edit') }}"></a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}