{% extends 'base.html.twig' %}

{% block title '¿Vendes?' %}

{% block body %}
    <div class="container bg-gray-100">
        <div class="row mb-5">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center mt-5">
                <img class="img-fluid" src="{{ absolute_url('img/logo-erreka.png') }}" alt="Logo Erreka Inmobiliaria">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3"></div>
            <div class="col-md-6 bg-light">
                <div class="card">
                    <div class="card text-center">
                        <div class="card-body">
                            <h1 class="card-title">{{ fullName }} necesita información sobre la venta de su piso.</h1>
                            <p class="card-text">Móvil / Teléfono: {{ mobile }}</p>
                            <p class="card-text">Correo: {{ email }}</p>
                            <p class="card-text">Mensaje: {{ message }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <footer class="mb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <nav class="nav-footer">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a rel="nofollow, noindex" href="{{ url('legal_warning') }}">Aviso Legal</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a rel="nofollow, noindex" href="{{ url('privacy_police') }}">Política Privacidad</a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="copyright-footer">
                                    <p class="copyright color-text-a">
                                        &copy; Copyright
                                        <span class="color-a">Inmobiliaria Erreka</span> Todos los derechos reservados.
                                    </p>
                                </div>
                                <div class="credits">
                                    <span class="color-text-a">Móvil: </span><a href="tel:+34675602296">+34 675 602 296</a>
                                    <span class="color-text-a">Correo: </span><a href="mailto:info@errekainmobiliaria.com">info@errekainmobiliaria.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}
