{% extends 'admin/layout.html.twig' %}

{% block title %} Listado Visitas {% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Listado visitas</h1>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table-striped table-sm table-hover dataTable" id="dataTable" width="100%" cellpadding="0">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Móvil</th>
                        <th>Dirección</th>
                        <th>Precio</th>
                        <th>Comentario</th>
{#                        <th>Acciones</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for visit in visits %}
                        <tr>
                            <td>{{ visit.visited ? visit.visited|date('d-m-Y') : '' }}</td>
                            <td>{{ visit.client.fullName }}</td>
                            <td>{{ visit.client.mobile ? visit.client.mobile : '' }}</td>
                            <td>{{ visit.property.street.name }} Nº {{ property.portal }}, {{ property.floor }}</td>
                            <td>{{ visit.comment|slice(0, 100) }}</td>
{#                            <td>
                                <a class="btn btn-primary" href="{{ path('visit_show', {'id': visit.id}) }}">Ver</a>
                                <a class="btn btn-info" href="{{ path('visit_edit', {'id': visit.id}) }}">Editar</a>
                            </td>#}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dataTableJs') }}
{% endblock %}