{% extends 'admin/layout.html.twig' %}

{% block title %}Street{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Detalles de calle</h1>
            {#            <a class="btn btn-success float-right" href="{{ path('company_new') }}">Crear Empresa</a>#}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ street.id }}</td>
                        </tr>
                        <tr>
                            <th>Zona</th>
                            <td>
                                <a href="{{ path('zone_show', {'id': street.zone.id }) }}">{{ street.zone.name }}</a>
                            </td>

                        </tr>
                        <tr>
                            <th>Calle</th>
                            <td>{{ street.name }}</td>
                        </tr>
                        <tr>
                            <th>Nº Noticias</th>
                            <td>
                                {% if street.properties.count > 0 %}
                                    <ul class="list-group">
                                        {% for new in street.properties %}
                                            <li class="list-group-item">
                                                <strong>Nº - Portal:</strong>
{#                                                <a href="{{ path('news_show', {'id': new.id }) }}">{{ new.portal }} - {{ new.floor }}</a>#}
                                                <strong>Agencia:</strong>
{#                                                <a href="{{ path('company_show', {'id': new.commercial.company.id }) }}">{{ new.commercial.company.name }}</a>#}
                                                <strong>Comercial:</strong>
                                                <a href="{{ path('user_show', {'id': new.commercial.id }) }}">{{ new.commercial.fullName }} </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    Calle sin noticias
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            {{ include('admin/_back_link.html.twig', {'route': 'street_index'}) }}
            {{ include('admin/_edit_link.html.twig', {'route': 'street_edit', 'id': street.id, 'button_label': 'Editar'}) }}

{#            <a class="btn btn-primary" href="{{ path('street_edit', {'id': street.id}) }}">Editar</a>#}
        </div>
    </div>



{#    {{ include('street/_delete_form.html.twig') }}#}
{% endblock %}
