<div class="row">
    <div class="col-md-12 mb-4">

        {% if property.rateHousing %}
            <a class="btn btn-info" href="{{ path('property_show', {'id': property.id }) }}">Detalles</a>
            <a class="btn btn-info" href="{{ path('property_rate_housing_new_show', {'id': property.id }) }}">Valoración</a>
        {% endif %}
        {% if property.charge is defined %}
            {% if property.charge is not empty %}
                <a class="btn btn-info" href="{{ path('property_charge_visit', {'id': property.id, 'idChargeType': property.charge.chargeType.id }) }}">Visitas</a>
                <a class="btn btn-info" href="{{ path('property_charge_reduction', {'id': property.id, 'idChargeType': property.charge.chargeType.id }) }}">Rebajas</a>
                <a class="btn btn-info" href="{{ path('property_charge_proposal', {'id': property.id, 'idChargeType': property.charge.chargeType.id }) }}">Propuestas</a>
                <a class="btn btn-info" href="{{ path('property_charge', {'id': property.id, 'idChargeType': property.charge.chargeType.id }) }}">{{ property.charge.chargeType.name }}</a>
                <a class="btn btn-info" href="{{ path('property_charge_client', {'id': property.id, 'idChargeType': property.charge.chargeType.id }) }}">Clientes</a>
            {% endif %}
        {% endif %}

{#        {% if property.rateHousing is defined %}#}
{#            {% if property.rateHousing.charge is not empty %}#}
{#                {% if property.rateHousing.charge.chargeType.name == 'Exclusiva' %}#}
{#                    <a class="btn btn-info" href="{{ path('property_charge', {'id': property.id, 'idChargeType': property.rateHousing.charge.chargeType.id }) }}">{{ property.rateHousing.charge.chargeType.name }}</a>#}
{#                {% endif %}#}
{#            {% endif %}#}
{#        {% endif %}#}

{#        {% if property.rateHousing is defined %}#}
{#            {% if property.rateHousing.charge is not empty %}#}
{#                {% if property.rateHousing.charge.chargeType.name == 'Autorización' %}#}
{#                    <a class="btn btn-info" href="{{ path('property_charge', {'id': property.id, 'idChargeType': property.rateHousing.charge.chargeType.id }) }}">{{ property.rateHousing.charge.chargeType.name }}</a>#}
{#                {% endif %}#}
{#            {% endif %}#}
{#        {% endif %}#}


{#        {% if property.reason.situation.name == 'Encargo' or property.reason.situation.name == 'encargo' %}#}
{#            <a class="btn btn-info" href="{{ path('property_charge', {'id': property.id}) }}">{{ property.reason.situation.name }}</a>#}
{#        {% endif %}#}

{#        <a class="btn btn-info" href="">Pedidos</a>#}
    </div>
</div>